{% extends "base.html" %}
<!doctype html> {% block content %} {% block page_content %}
<script src="{{ url_for('static', filename='js/coalCHP/coalDesulfurization.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionnaire.css') }}">
<style>
	.panel {
		background-color: rgba(255, 255, 255, 0.3);
		margin: 10px 0px 10px 15px;
	}
	.cd-breadcrumb.triangle li.ableClick > * {
    color: #ffffff;
    background-color: #337ab7!important;
    border-color: #337ab7 !important;
}
</style>
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			<!-- <div class="page-title">燃煤热电联产-脱硫脱硝</div> -->
			</br>
			</br>
			</br>
			<div class="row" style="margin-top: -23px;margin-bottom: -28px;">

				<div class="col-md-12 breadcrumb-fix show">
					<div id="breadcrumbDiv" class="col-md-10 breadcrumb-div">
						<ol class="cd-breadcrumb triangle">
							<li>
								<a class="pre" href="#" data-page="10">上一页</a>
							</li>
							<li class="hide">
								<a id="coalchp1"  onclick="return false;" href="{{ url_for('coalviews.coalQuestionnaire', id=session.planId) }}">需求调查表</a>
							</li>
							<li class="hide">
								<a id="coalchp2" onclick="return false;" href="{{ url_for('coalviews.coalFurnace') }}">锅炉计算</a>
							</li>
							<li class="hide">
								<a id="coalchp3" onclick="return false;" href="{{ url_for('coalviews.coalSteamTurbine') }}">汽轮机计算</a>
							</li>
							<li class="hide">
								<a id="coalchp4" onclick="return false;" href="{{ url_for('coalviews.coalBoilerAuxiliaries') }}">锅炉辅机系统</a>
							</li>
							<li class="hide">
								<a id="coalchp5" onclick="return false;" href="{{ url_for('coalviews.coalTurbineAuxiliary') }}">汽机辅机系统</a>
							</li>
							<li>
								<a id="coalchp6" onclick="return false;" href="{{ url_for('coalviews.coalHandingSystem') }}">输煤系统</a>
							</li>
							<li>
								<a id="coalchp7" onclick="return false;" href="{{ url_for('coalviews.coalSmokeAirSystem') }}">烟风系统</a>
							</li>
							<li class="ableClick">
								<a id="coalchp8" href="#">脱硫脱硝系统</a>
							</li>
							<li>
								<a id="coalchp9" onclick="return false;" href="{{ url_for('coalviews.coalChimney') }}">烟囱</a>
							</li>
							<li>
								<a id="coalchp10" onclick="return false;" href="{{ url_for('coalviews.coalRemovalAshSlag') }}">除灰除渣系统</a>
							</li>
							<li class="hide">
								<a id="coalchp11" onclick="return false;" href="{{ url_for('coalviews.coalChemicalWater') }}">化学水系统</a>
							</li>
							<li class="hide">
								<a id="coalchp12"  onclick="return false;" href="{{ url_for('coalviews.coalCirculatingWater') }}">循环水系统</a>
							</li>
							<li class="hide">
								<a id="coalchp13" onclick="return false;" href="{{ url_for('coalviews.coalOfficialProcess') }}">公用工程</a>
							</li>
							<li class="hide">
								<a id="coalchp14"  onclick="return false;" href="{{ url_for('coalviews.coalHeatSupply') }}">采暖供热</a>
							</li>
							<li class="hide">
								<a id="coalchp15" onclick="return false;" href="{{ url_for('coalviews.coalEconomicIndicators') }}">主要技术经济指标</a>
							</li>
							<li>
								<a id="coalchp16" onclick="return false;" href="{{ url_for('coalviews.outputImage') }}">出图</a>
							</li>
							<li>
								<a id="coalchp17" href="{{ url_for('coalviews.coalEquipmentList') }}">设备参数</a>
							</li>
							<li class="current">
								<a class="next" href="#">下一页</a>
							</li>
						</ol>
					</div>
					<div class="col-md-1 breadcrumb-submit">
						<button type="button" id="submitData" class="btn btn-success">
							<i class="fa fa-check-circle"></i> 保 存 </button>
					</div>
				</div>
				</br>
				</br>
				</br>
				</br>
			</div>
			<form id="coalDesulfurizationForm">
				<div class="row full-width-style">
					<div class="st-content">

						<div class="st-content-inner">
							<div class="col-md-12">
								<div class="col-md-3" style="position:fixed;height:100%">
									<nav class="st-menu">
										<h2 class="icon icon-lab">脱硫脱硝系统</h2>
										<ul>
											<li>
												<a class="left-select left-hover" href="#" id="d-2">脱硫前烟气SO2含量</a>
											</li>
											<li>
												<a class="left-select" href="#" id="d-3">炉内喷钙脱硫</a>
											</li>
											<li>
												<a class="left-select" href="#" id="d-4">石灰石湿法脱硫</a>
											</li>
											<li>
												<a class="left-select" href="#" id="d-5">脱硝前烟气Nox</a>
											</li>
											<li>
												<a class="left-select" href="#" id="d-6">炉内脱硝SNCR</a>
											</li>
											<li>
												<a class="left-select" href="#" id="d-7">脱硝SCR</a>
											</li>
										</ul>
									</nav>

								</div>
								<div class="col-md-9" style="left:19%;">
									<div class="module-content">
										<div class="main clearfix">
											<!-- 脱硫前烟气SO2含量 -->
											<div class="col-md-12 d-2">

												<!-- 脱硫脱硝工艺建议 -->
												<div class="panel">

													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15">脱硫脱硝工艺选择建议</span>
													</div>
													<div class="panel-body">
														<div class="row">
															<div class="col-md-12">
																<h4 style="font-weight:bold">建议:</h4>
																{% if f_steam_flow_design
																< 75 %} <p>当前
																	<锅炉计算>中【过热蒸汽流量】的数值为
																		<b style="color:red"> {{f_steam_flow_design}}t/h</b>，小于75t/h，为中小型锅炉，建议采用炉内脱硫工艺方式。 </p>
																		{% endif %} {% if s_sulfur_design >= 2 %}
																		<p>当前【含硫量】的数值为
																			<b style="color:red"> {{s_sulfur_design}}%</b>，含硫量≥2%，宜优先采用石灰石石膏湿法脱硫。</p>
																		{% else %}
																		<p>当前【含硫量】的数值为
																			<b style="color:red"> {{s_sulfur_design}}%</b>，含硫量
																			<2%，环保条件容许的情况下，优先采用半干法，干法脱硫。</p>
																				{% endif %} 输入框红色数字为默认值，点击【保存】后默认值才会被保存到数据库。
															</div>
														</div>
													</div>
												</div>
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15">脱硫前烟气SO2含量</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['s_sulfur_design', 's_calcu_coal_consume', 's_aflame_generate_so2',
														's_desulfrization_before_so2', 's_fan_smoke_flow', 's_no_desulfurization_so2', 's_desulfurization_efficiency',
														's_desulfrization_after_so2', 's_desulfrization_after_discharge_so2'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-6">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control default-color" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- 石灰石湿法脱硫 -->
											<div class="col-md-12 d-4 hide">
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15">石灰石湿法脱硫</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['d_limestone_pure', 'd_proportion_ca_s', 'd_desulfurization_efficiency',
														'd_limestone_consume', 'd_gengrate_coca4'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-6">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control default-color" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- 脱硝前烟气Nox -->
											<div class="col-md-12 d-5 hide">
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15"> 脱硝前烟气Nox</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['n_before_nox_concentration', 'n_input_smoke', 'n_desulfurization_efficiency',
														'n_before_nox_discharge', 'n_after_nox_concentration', 'n_env_after_nox_concentration', 'n_after_nox_discharge']
														%}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-6">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control default-color" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!--  脱硝SCR（尿素热解法） -->
											<div class="col-md-12 d-7 hide">
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15"> 脱硝SCR（尿素热解法）</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['g_denitration_percentage', 'g_after_nox_discharge', 'g_denitration_quality',
														'g_escape_rate', 'g_escape_quality', 'g_escape_quality_urea', 'g_nh3nox_molar', 'g_urea_nox_molar', 'g_theory_urea',
														'g_urea_nox_quality', 'g_use_urea'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-6">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control default-color" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- 炉内喷钙脱硫 -->
											<div class="col-md-12 d-3 hide">
												<!-- INPUT GROUPS -->
												<div class="panel margin-right30">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15">炉内喷钙脱硫</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['r_furnace_rate', 'r_furnace_concentration', 'r_others_mass',
														'r_others_mole', 'r_calcium_sulfur_rate', 'r_nees_caco3_mole', 'r_nees_caco3_mass', 'r_use_caco3_mass', 'r_generate_coco3_mass',
														'r_add_mass', 'r_caco3_pure', 'r_coco3_consume', 'r_generate_grey', 'r_storage_time', 'r_storage_output', 'r_storage_density',
														'r_storage_fullness', 'r_storage_volume', 'r_height', 'r_diameter'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-6">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control default-color" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>


											<!--  炉内脱硝SNCR -->
											<div class="col-md-12 d-6 hide">
												<div class="panel margin-right30">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15"> 炉内脱硝SNCR</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['d_denitration_percentage', 'd_denitration_quality', 'd_after_nox_discharge',
														'd_denitration_molar', 'd_escape_rate', 'd_escape_quality', 'd_escape_quality_urea', 'd_nh3nox_molar', 'd_urea_nox_molar',
														'd_urea_nox_quality', 'd_theory_urea', 'd_use_urea', 'd_water_urea', 'd_days_urea', 'd_capacity_urea'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-6">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control default-color" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
										</div>
									</div>
			</form>
			<!-- END MAIN CONTENT -->
			</div>
			<!-- END MAIN -->
			{% endblock %} {% endblock %}