{% extends "base.html" %}
<!doctype html> {% block content %} {% block page_content %}
<script src="{{ url_for('static', filename='js/coalCHP/coalDesulfurization.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/coalCHP/questionnaire.css') }}">
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content width88">
		<div class="container-fluid">
			<div class="page-title">燃煤热电联产-脱硫脱硝</div>
			<div class="row" style="margin-top: -20px;">

				<div class="col-md-12 breadcrumb-fix">
					<div class="col-md-10 breadcrumb-div">
						<ol class="cd-breadcrumb triangle">
							<li>
								<a href="{{ url_for('coalviews.coalQuestionnaire', id=session.coalCHPPlanId) }}">需求调查表</a>
							</li>
							<li>
								<a href="{{ url_for('coalviews.coalFurnace') }}">锅炉计算</a>
							</li>
							<li>
								<a href="{{ url_for('coalviews.coalHandingSystem') }}">输煤系统</a>
							</li>
							<li>
								<a href="{{ url_for('coalviews.coalBoilerAuxiliaries') }}">锅炉辅机系统</a>
							</li>
							<li class="current">
								<a href="#">脱硫脱硝</a>
							</li>
							<li>
								<a href="{{ url_for('coalviews.coalRemovalAshSlag') }}">除灰除渣系统</a>
							</li>
							<li>
								<a href="{{ url_for('coalviews.coalCirculatingWater') }}">循环水系统</a>
							</li>
							<li>
								<a href="{{ url_for('coalviews.coalSmokeAirSystem') }}">烟风系统</a>
							</li>
						</ol>
					</div>
					<div class="col-md-2 breadcrumb-submit">
						<button type="button" id="submitData" class="btn btn-success">
							<i class="fa fa-check-circle"></i> 保 存 </button>
					</div>
				</div>
				</br>
				</br>
				</br>
				</br>
			</div>
			<form id="coalDesulfurizationForm">
				<div class="row">
					<div class="row col-md-6">
						<!-- 脱硫前烟气SO2含量 -->
						<div class="col-md-12">
							<!-- INPUT GROUPS -->
							<div class="panel">
								<div class="first-title">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span class="margin-left15">脱硫前烟气SO2含量</span>
								</div>
								<div class="panel-body">
									{% for constant in constants %} {% if constant.name_eng in ['s_sulfur_design', 's_calcu_coal_consume', 's_aflame_generate_so2',
									's_desulfrization_before_so2', 's_fan_smoke_flow', 's_no_desulfurization_so2', 's_desulfurization_efficiency', 's_desulfrization_after_so2',
									's_desulfrization_after_discharge_so2'] %}
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
											<div class="col-md-6">
												<div class="input-group">
													<input class="form-control" type="text" name="{{ constant.name_eng }}" {% if constant.disable=='T' %} readonly="true" {%
													 endif %}>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
												</div>

											</div>
											{% if constant.calculate != "" %}
											<div class="col-md-1">
												<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
											</div>
											{% endif %}

										</div>
									</div>
									<br> {% endif %} {% endfor %}
								</div>
							</div>
						</div>

						<!-- 石灰石湿法脱硫 -->
						<div class="col-md-12">
							<div class="panel">
								<div class="first-title">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span class="margin-left15">石灰石湿法脱硫</span>
								</div>
								<div class="panel-body">
									{% for constant in constants %} {% if constant.name_eng in ['d_limestone_pure', 'd_proportion_ca_s', 'd_desulfurization_efficiency',
									'd_limestone_consume', 'd_gengrate_coca4'] %}
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
											<div class="col-md-6">
												<div class="input-group">
													<input class="form-control" type="text" name="{{ constant.name_eng }}" {% if constant.disable=='T' %} readonly="true" {%
													 endif %}>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
												</div>

											</div>
											{% if constant.calculate != "" %}
											<div class="col-md-1">
												<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
											</div>
											{% endif %}

										</div>
									</div>
									<br> {% endif %} {% endfor %}
								</div>
							</div>
						</div>

						<!-- 脱硝前烟气Nox -->
						<div class="col-md-12">
							<div class="panel">
								<div class="first-title">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span class="margin-left15"> 脱硝前烟气Nox</span>
								</div>
								<div class="panel-body">
									{% for constant in constants %} {% if constant.name_eng in ['n_before_nox_concentration', 'n_input_smoke', 'n_desulfurization_efficiency',
									'n_before_nox_discharge', 'n_after_nox_concentration', 'n_env_after_nox_concentration', 'n_after_nox_discharge']
									%}
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
											<div class="col-md-6">
												<div class="input-group">
													<input class="form-control" type="text" name="{{ constant.name_eng }}" {% if constant.disable=='T' %} readonly="true" {%
													 endif %}>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
												</div>

											</div>
											{% if constant.calculate != "" %}
											<div class="col-md-1">
												<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
											</div>
											{% endif %}

										</div>
									</div>
									<br> {% endif %} {% endfor %}
								</div>
							</div>
						</div>

						<!--  脱硝SCR（尿素热解法） -->
						<div class="col-md-12">
							<div class="panel">
								<div class="first-title">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span class="margin-left15"> 脱硝SCR（尿素热解法）</span>
								</div>
								<div class="panel-body">
									{% for constant in constants %} {% if constant.name_eng in ['g_denitration_percentage', 'g_after_nox_discharge', 'g_denitration_quality',
									'g_escape_rate', 'g_escape_quality', 'g__escape_quality_urea', 'd_nh3nox_molar', 'd_urea_nox_molar', 'd_urea_nox_quality',
									'd_theory_urea', 'd_use_urea'] %}
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
											<div class="col-md-6">
												<div class="input-group">
													<input class="form-control" type="text" name="{{ constant.name_eng }}" {% if constant.disable=='T' %} readonly="true" {%
													 endif %}>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
												</div>

											</div>
											{% if constant.calculate != "" %}
											<div class="col-md-1">
												<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
											</div>
											{% endif %}

										</div>
									</div>
									<br> {% endif %} {% endfor %}
								</div>
							</div>
						</div>
					</div>




					<div class="col-md-6">

						<div class="row">


							<!-- 炉内喷钙脱硫 -->
							<div class="col-md-12">
								<!-- INPUT GROUPS -->
								<div class="panel margin-right30">
									<div class="first-title">
										<i class="fa fa-map-marker" aria-hidden="true"></i>
										<span class="margin-left15">炉内喷钙脱硫</span>
									</div>
									<div class="panel-body">
										{% for constant in constants %} {% if constant.name_eng in ['r_furnace_rate', 'r_furnace_concentration', 'r_others_mass',
										'r_others_mole', 'r_calcium_sulfur_rate', 'r_nees_caco3_mole', 'r_nees_caco3_mass', 'r_use_caco3_mass', 'r_generate_coco3_mass',
										'r_add_mass', 'r_caco3_pure', 'r_coco3_consume', 'r_generate_grey', 'r_storage_time', 'r_storage_output', 'r_storage_density',
										'r_storage_fullness', 'r_storage_volume', 'r_height', 'r_diameter'] %}
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
												<div class="col-md-6">
													<div class="input-group">
														<input class="form-control" type="text" name="{{ constant.name_eng }}" {% if constant.disable=='T' %} readonly="true" {%
														 endif %}>
														<span class="input-group-addon show-unit">{{ constant.unit }}</span>
													</div>

												</div>
												{% if constant.calculate != "" %}
												<div class="col-md-1">
													<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
												</div>
												{% endif %}

											</div>
										</div>
										<br> {% endif %} {% endfor %}
									</div>
								</div>
							</div>


							<!--  炉内脱硝SNCR -->
							<div class="col-md-12">
								<div class="panel margin-right30">
									<div class="first-title">
										<i class="fa fa-map-marker" aria-hidden="true"></i>
										<span class="margin-left15"> 炉内脱硝SNCR</span>
									</div>
									<div class="panel-body">
										{% for constant in constants %} {% if constant.name_eng in ['d_denitration_percentage', 'd_denitration_quality', 'd_after_nox_discharge',
										'd_denitration_molar', 'd_escape_rate', 'd_escape_quality', 'd_escape_quality_urea', 'd_nh3nox_molar', 'd_urea_nox_molar',
										'd_urea_nox_quality', 'd_theory_urea', 'd_use_urea', 'd_water_urea', 'd_days_urea', 'd_capacity_urea'] %}
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
												<div class="col-md-6">
													<div class="input-group">
														<input class="form-control" type="text" name="{{ constant.name_eng }}" {% if constant.disable=='T' %} readonly="true" {%
														 endif %}>
														<span class="input-group-addon show-unit">{{ constant.unit }}</span>
													</div>

												</div>
												{% if constant.calculate != "" %}
												<div class="col-md-1">
													<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
												</div>
												{% endif %}

											</div>
										</div>
										<br> {% endif %} {% endfor %}
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
		</div>
		</form>
		<!-- END MAIN CONTENT -->
	</div>
	<!-- END MAIN -->
	{% endblock %} {% endblock %}