{% extends "base.html" %}
<!doctype html> {% block content %} {% block page_content %}
<script src="{{ url_for('static', filename='js/coalCHP/coalBoilerAuxiliaries.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionnaire.css') }}">
<style>
	.panel {
		background-color: rgba(255, 255, 255, 0.3);
		margin: 10px 0px 10px 15px;
	}
	.cd-breadcrumb.triangle li.ableClick > * {
		color: #ffffff;
		background-color: #337ab7!important;
		border-color: #337ab7 !important;
	}
</style>
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			<!-- <div class="page-title">燃煤热电联产-锅炉辅机系统</div> -->
			</br>
			</br>
			</br>
			<div class="row" style="margin-top: -23px;margin-bottom: -28px;">

				<div class="col-md-12 breadcrumb-fix show">
					<div id="breadcrumbDiv" class="col-md-10 breadcrumb-div">
						<ol class="cd-breadcrumb triangle">
							<li>
								<a class="pre" href="#" data-page="5">上一页</a>
							</li>
							<li>
								<a id="coalchp1"  onclick="return false;" href="{{ url_for('coalviews.coalQuestionnaire', id=session.planId) }}">需求调查表</a>
							</li>
							<li>
								<a id="coalchp2" onclick="return false;" href="{{ url_for('coalviews.coalFurnace') }}">锅炉计算</a>
							</li>
							<li>
								<a id="coalchp3" onclick="return false;" href="{{ url_for('coalviews.coalSteamTurbine') }}">汽轮机计算</a>
							</li>
							<li class="ableClick">
								<a id="coalchp4" href="#">锅炉辅机系统</a>
							</li>
							<li>
								<a id="coalchp5" onclick="return false;" href="{{ url_for('coalviews.coalTurbineAuxiliary') }}">汽机辅机系统</a>
							</li>
							<li class="hide">
								<a id="coalchp6" onclick="return false;" href="{{ url_for('coalviews.coalHandingSystem') }}">输煤系统</a>
							</li>
							<li class="hide">
								<a id="coalchp7" onclick="return false;" href="{{ url_for('coalviews.coalSmokeAirSystem') }}">烟风系统</a>
							</li>
							<li class="hide">
								<a id="coalchp8" onclick="return false;" href="{{ url_for('coalviews.coalDesulfurization') }}">脱硫脱硝系统</a>
							</li>
							<li class="hide">
								<a id="coalchp9" onclick="return false;" href="{{ url_for('coalviews.coalChimney') }}">烟囱</a>
							</li>
							<li class="hide">
								<a id="coalchp10" onclick="return false;" href="{{ url_for('coalviews.coalRemovalAshSlag') }}">除灰除渣系统</a>
							</li>
							<li class="hide">
								<a id="coalchp11" onclick="return false;" href="{{ url_for('coalviews.coalChemicalWater') }}">化学水系统</a>
							</li>
							<li class="hide">
								<a id="coalchp12"  onclick="return false;" href="{{ url_for('coalviews.coalCirculatingWater') }}">循环水系统</a>
							</li>
							<li class="hide">
								<a id="coalchp13" onclick="return false;" href="{{ url_for('coalviews.coalOfficialProcess') }}">公用工程</a>
							</li>
							<li class="hide">
								<a id="coalchp14"  onclick="return false;" href="{{ url_for('coalviews.coalHeatSupply') }}">采暖供热</a>
							</li>
							<li class="hide">
								<a id="coalchp15" onclick="return false;" href="{{ url_for('coalviews.coalEconomicIndicators') }}">主要技术经济指标</a>
							</li>
							<li>
								<a id="coalchp16" onclick="return false;" href="{{ url_for('coalviews.outputImage') }}">出图</a>
							</li>
							<li>
								<a id="coalchp17" href="{{ url_for('coalviews.coalEquipmentList') }}">设备参数</a>
							</li>
							<li class="current">
								<a class="next" href="#">下一页</a>
							</li>
						</ol>
					</div>
					<div class="col-md-1 breadcrumb-submit">
						<button type="button" id="submitData" class="btn btn-success">
							<i class="fa fa-check-circle"></i> 保 存 </button>
					</div>
				</div>
				</br>
				</br>
				</br>
				</br>


			</div>
			<form id="coalBoilerAuxiliariesForm">
				<div class="row full-width-style">
					<div class="st-content">

						<div class="st-content-inner">
							<div class="col-md-12">
								<div class="col-md-3" style="position:fixed;height:100%">
									<nav class="st-menu">
										<h2 class="icon icon-lab">锅炉辅机系统</h2>
										<ul>
											<li>
												<a class="left-select left-hover" href="#" id="b-1">定期排污扩容器</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-2">连续排污扩容器</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-3">磷酸盐加药装置</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-4">给水泵</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-6">除氧水箱</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-5">减温减压器</a>
											</li>
											<!-- <li>
												<a class="left-select" href="#" id="b-7">参考信息一</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-8">参考信息二</a>
											</li> -->
										</ul>
									</nav>

								</div>
								<div class="col-md-9" style="left:19%;">
									<div class="module-content">
										<div class="main clearfix">
											<!-- 定期排污扩容器start -->
											<div class="col-md-12 b-1">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15">定期排污扩容器&nbsp;&nbsp;&nbsp;
															<i class="fa fa-file-image-o" title="参考信息" id="info1" style="cursor: pointer;"></i>
														</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['r_boiler_evaporation', 'r_emission_time', 'r_emission_rate',
														'r_sewage_quantity', 'r_drum_pressure', 'r_drum_aturatedwater_enthalpy', 'r_work_pressure', 'r_work_aturatedwater_enthalpy',
														'r_work_latentheat_vaporization', 'r_affluence_coefficient', 'r_ultimate_strength', 'r_volume', 'r_specifications']
														%}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-6">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control default-color" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- 连续排污扩容器 -->
											<div class="col-md-12 b-2 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15">连续排污扩容器&nbsp;&nbsp;&nbsp;
															<i class="fa fa-file-image-o" title="参考信息" id="info2" style="cursor: pointer;"></i>
														</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['c_boiler_evaporation', 'c_emission_rate', 'c_sewage_quantity',
														'c_drum_pressure', 'c_drum_aturatedwater_enthalpy', 'c_work_pressure', 'c_work_aturatedwater_enthalpy', 'c_work_steam_pecificvolume',
														'c_work_latentheat_vaporization', 'c_steam_dryness', 'c_ultimate_strength', 'c_vaporization_capacity', 'c_affluence_coefficient',
														'c_volume', 'c_specifications'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-6">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control default-color" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- 磷酸盐加药装置-PH控制在9~11 -->
											<div class="col-md-12 b-3 hide">
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15">磷酸盐加药装置</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['d_boiler_watersystem_volume', 'd_phosphate_content', 'd_water_hardness',
														'd_purity', 'd_boiler_dosage_startup', 'd_boiler_water_supply', 'd_boiler_sewage_quantity', 'd_boiler_dosage_run',
														'd_na3po4_concentration', 'd_na3po4_density', 'd_solution_quantity_run'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-6">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control default-color" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!--  给水泵 -->
											<div class="col-md-12 b-4 hide">
												<div class="panel margin-right30">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15"> 给水泵&nbsp;&nbsp;&nbsp;
															<i class="fa fa-file-image-o" title="参考信息" id="info3" style="cursor: pointer;"></i>

														</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['p_boiler_design_pressure', 'p_inlet_pressure', 'p_deaerator_pressure',
														'p_water_supply_resistance', 'p_water_inlet_resistance', 'p_center_altitude_difference', 'p_deaerator_altitude_difference',
														'p_feedpump_total_head', 'p_flow', 'p_pump_efficiency', 'p_transmission_efficiency', 'p_motor_efficiency',
														'p_motor_reserve_factor', 'p_auxiliary_motor_power', 'p_specifications'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-6">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control default-color" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!-- 锅炉补给水处理能力 -->
											<div class="col-md-12 b-5 hide">
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15"> 减温减压器---已知减温前、后参数求减温水量及减温后量）</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['t_new_steam_temperature', 't_new_pressure', 't_new_enthalpy', 't_new_flow_rate',
														't_reduce_water_temperature', 't_reduce_water_pressure', 't_reduce_water_enthalpy', 't_reduce_water_flow_rate', 't_reduce_steam_temperature', 't_reduce_steam_pressure',
														't_reduce_steam_enthalpy', 't_reduce_enough_enthalpy', 't_reduce_persent', 't_rudece_flow_rate']
														%}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-6">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control default-color" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!--  除氧水箱/凝结水箱-共用 -->
											<div class="col-md-12 b-6 hide">
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15"> 除氧水箱</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['s_boiler_evaporation', 's_storage_time', 's_volume', 's_size_length',
														's_size_diameter'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-5">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-6">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control default-color" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- <div class="col-md-12 b-7 hide">
											<div class="panel margin-right30">

												<div class="first-title">
													<i class="fa fa-map-marker" aria-hidden="true"></i>
													<span class="margin-left15">参考信息</span>
												</div>
												<div class="panel-body">
													<div class="row">
														<div class="col-md-12">
															<i class="fa fa-asterisk asterisk-style" aria-hidden="true"></i>
															输入框红色数字为默认值，点击【保存】后默认值才会被保存到数据库。
															</br>
															</br>
															</br>
															<img class="img-responsive center-block expand-img" src="{{ url_for('static', filename='img/CoalCHP/boilerAuxiliaries_2.png') }}"
															/>
															</br>
															<img class="img-responsive center-block expand-img" src="{{ url_for('static', filename='img/CoalCHP/boilerAuxiliaries_4.png') }}"
															/>
														</div>
													</div>
												</div>
											</div>
										</div> -->

											<!-- <div class="col-md-12 b-8 hide">
											<div class="panel">

												<div class="first-title">
													<i class="fa fa-map-marker" aria-hidden="true"></i>
													<span class="margin-left15">参考信息</span>
												</div>
												<div class="panel-body">
													<div class="row">
														<div class="col-md-12">
															<img class="img-responsive center-block expand-img" src="{{ url_for('static', filename='img/CoalCHP/boilerAuxiliaries_1.png') }}"
															/>
															</br>
															<img class="img-responsive center-block expand-img" src="{{ url_for('static', filename='img/CoalCHP/boilerAuxiliaries_3.png') }}"
															/>
														</div>
													</div>
												</div>
											</div>
										</div> -->


										</div>

									</div>
								</div>
								<!-- /st-content-inner -->
							</div>
							<!-- /st-content -->
						</div>

					</div>

			</form>
			</div>
		</div>
		<!-- END MAIN CONTENT -->
	</div>
	<!-- END MAIN -->

	{% endblock %} {% endblock %}