{% extends "base.html" %}
<!doctype html> {% block content %} {% block page_content %}
<script src="{{ url_for('static', filename='js/coalCHP/chimney.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionnaire.css') }}">
<style>
		.panel {
			background-color: rgba(255, 255, 255, 0.3);
			margin: 10px 0px 10px 15px;
		}
		.cd-breadcrumb.triangle li.ableClick > * {
    color: #ffffff;
    background-color: #337ab7!important;
    border-color: #337ab7 !important;
}
	</style>
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			</br>
			</br>
			</br>
			<div class="row" style="margin-top: -23px;margin-bottom: -28px;">
				<div class="col-md-12 breadcrumb-fix show">
					<div id="breadcrumbDiv" class="col-md-10 breadcrumb-div">
						<ol class="cd-breadcrumb triangle">
							<li>
								<a class="pre" href="#" data-page="10">上一页</a>
							</li>
							<li class="hide">
								<a id="coalchp1"  onclick="return false;" href="{{ url_for('coalviews.coalQuestionnaire', id=session.planId) }}">需求调查表</a>
							</li>
							<li class="hide">
								<a id="coalchp2" onclick="return false;" href="{{ url_for('coalviews.coalFurnace') }}">锅炉计算</a>
							</li>
							<li class="hide">
								<a id="coalchp3" onclick="return false;" href="{{ url_for('coalviews.coalSteamTurbine') }}">汽轮机计算</a>
							</li>
							<li class="hide">
								<a id="coalchp4" onclick="return false;" href="{{ url_for('coalviews.coalBoilerAuxiliaries') }}">锅炉辅机系统</a>
							</li>
							<li class="hide">
								<a id="coalchp5" onclick="return false;" href="{{ url_for('coalviews.coalTurbineAuxiliary') }}">汽机辅机系统</a>
							</li>
							<li>
								<a id="coalchp6" onclick="return false;" href="{{ url_for('coalviews.coalHandingSystem') }}">输煤系统</a>
							</li>
							<li>
								<a id="coalchp7" onclick="return false;" href="{{ url_for('coalviews.coalSmokeAirSystem') }}">烟风系统</a>
							</li>
							<li>
								<a id="coalchp8" onclick="return false;" href="{{ url_for('coalviews.coalDesulfurization') }}">脱硫脱硝系统</a>
							</li>
							<li class="ableClick">
								<a id="coalchp9"  href="#">烟囱</a>
							</li>
							<li>
								<a id="coalchp10" onclick="return false;" href="{{ url_for('coalviews.coalRemovalAshSlag') }}">除灰除渣系统</a>
							</li>
							<li class="hide">
								<a id="coalchp11" onclick="return false;" href="{{ url_for('coalviews.coalChemicalWater') }}">化学水系统</a>
							</li>
							<li class="hide">
								<a id="coalchp12"  onclick="return false;" href="{{ url_for('coalviews.coalCirculatingWater') }}">循环水系统</a>
							</li>
							<li class="hide">
								<a id="coalchp13" onclick="return false;" href="{{ url_for('coalviews.coalOfficialProcess') }}">公用工程</a>
							</li>
							<li class="hide">
								<a id="coalchp14"  onclick="return false;" href="{{ url_for('coalviews.coalHeatSupply') }}">采暖供热</a>
							</li>
							<li class="hide">
								<a id="coalchp15" onclick="return false;" href="{{ url_for('coalviews.coalEconomicIndicators') }}">主要技术经济指标</a>
							</li>
							<li>
								<a id="coalchp16" onclick="return false;" href="{{ url_for('coalviews.outputImage') }}">出图</a>
							</li>
							<li>
								<a id="coalchp17" href="{{ url_for('coalviews.coalEquipmentList') }}">设备参数</a>
							</li>
							<li class="current">
								<a class="next" href="#">下一页</a>
							</li>
						</ol>
					</div>

					<div class="col-md-1 breadcrumb-submit">
						<button type="button" id="submitChimney" class="btn btn-success">
							<i class="fa fa-check-circle"></i> 保 存 </button>
					</div>

				</div>
				</br>
				</br>
				</br>
				</br>
			</div>

			<form id="coalChimenyForm">
				<div class="row full-width-style">

					<div class="st-content">

						<div class="st-content-inner">
							<div class="col-md-12">
								<div class="col-md-3" style="position:fixed;height:100%">
									<nav class="st-menu">
										<h2 class="icon icon-lab">烟囱</h2>
										<ul>
											<li>
												<a class="left-select left-hover" href="#" id="c-1">烟囱抽力计算</a>
											</li>
											<li>
												<a class="left-select" href="#" id="c-2">烟囱出口内径计算及低负荷校核</a>
											</li>
											<li>
												<a class="left-select" href="#" id="c-3">烟囱阻力计算</a>
											</li>
										</ul>
									</nav>

								</div>
								<div class="col-md-9" style="left:19%;">
									<div class="module-content">
										<div class="main clearfix">
											<div class="col-md-12 c-1">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div>
														<div class="first-title">
															<i class="fa fa-paper-plane" aria-hidden="true"></i>
															<span class="margin-left15">烟囱抽力计算</span>&nbsp;&nbsp;&nbsp;
															<i class="fa fa-file-image-o" title="参考信息" id="info1" style="cursor: pointer;"></i>
															&nbsp;&nbsp;&nbsp;
															<i class="fa fa-file-image-o" title="参考信息" id="info2" style="cursor: pointer;"></i>
														</div>

														{% for constant in constants %} {% if constant.name_eng in ['chimney_height', 'local_atmosphere', 'standard_air_density',
														'standard_average_smoke_density', 'standard_calculated_smoke_density', 'outdoor_air_temperature', 'chimney_inlet_temperature',
														'chimney_temperature_drop_per_meter', 'chimney_average_temperature', 'chimney_draft'] %}
														<div class="row">
															<div class="panel-body">
																<div class="col-md-12">
																	{% if constant.symbol != "" %}
																	<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																	{% else %}
																	<div class="col-md-3">{{ constant.name }}</div>
																	{% endif %}
																	<div class="col-md-8">
																		<div class="input-group">
																			{% if constant.disable == "T" %}
																			<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																			 name="{{ constant.name_eng }}"> {% else %}
																			<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																			<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																		</div>
																	</div>
																	{% if constant.remark != "" %}
																	<div class="col-md-1">
																		<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
																	</div>
																	{% endif %}
																</div>
															</div>
														</div>
														{% endif %} {% endfor %}
													</div>

												</div>
											</div>

											<div class="col-md-12 c-2 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div>
														<div class="first-title">
															<i class="fa fa-paper-plane" aria-hidden="true"></i>
															<span class="margin-left15">烟囱出口内径计算及低负荷校核</span>&nbsp;&nbsp;&nbsp;
															<i class="fa fa-file-image-o" title="参考信息" id="info3" style="cursor: pointer;"></i>
															&nbsp;&nbsp;&nbsp;
															<i class="fa fa-file-image-o" title="参考信息" id="info4" style="cursor: pointer;"></i>
														</div>

														{% for constant in constants %} {% if constant.name_eng in ['smoke_amount', 'chimney_outlet_temperature', 'chimney_outlet_flow',
														'chimney_outlet_inner_diameter', 'chimney_outlet_selected_inner_diameter', 'chimney_experience_base_diameter',
														'low_load_smoke_amount', 'low_load_smoke_temperature', 'low_load_flow_30_percent'] %}
														<div class="row">
															<div class="panel-body">
																<div class="col-md-12">
																	{% if constant.symbol != "" %}
																	<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																	{% else %}
																	<div class="col-md-3">{{ constant.name }}</div>
																	{% endif %}
																	<div class="col-md-8">
																		<div class="input-group">
																			{% if constant.disable == "T" %}
																			<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																			 name="{{ constant.name_eng }}"> {% else %}
																			<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																			<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																		</div>
																	</div>
																	{% if constant.remark != "" %}
																	<div class="col-md-1">
																		<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
																	</div>
																	{% endif %}
																</div>
															</div>
														</div>
														{% endif %} {% endfor %}
													</div>

												</div>
											</div>

											<div class="col-md-12 c-3 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div>
														<div class="first-title">
															<i class="fa fa-paper-plane" aria-hidden="true"></i>
															<span class="margin-left15">烟囱阻力计算</span>
														</div>

														{% for constant in constants %} {% if constant.name_eng in ['chimney_resistance_coefficient', 'chimney_average_velocity',
														'chimney_average_diameter', 'chimney_friction_resistance', 'chimney_outlet_resistance_coefficient', 'chimney_outlet_resistance',
														'chimney_total_resistance'] %}
														<div class="row">
															<div class="panel-body">
																<div class="col-md-12">
																	{% if constant.symbol != "" %}
																	<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																	{% else %}
																	<div class="col-md-3">{{ constant.name }}</div>
																	{% endif %}
																	<div class="col-md-8">
																		<div class="input-group">
																			{% if constant.disable == "T" %}
																			<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																			 name="{{ constant.name_eng }}"> {% else %}
																			<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																			<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																		</div>
																	</div>
																	{% if constant.remark != "" %}
																	<div class="col-md-1">
																		<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
																	</div>
																	{% endif %}
																</div>
															</div>
														</div>
														{% endif %} {% endfor %}
													</div>

												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
			</form>
			</div>
			</div>
			{% endblock %} {% endblock %}