{% extends "base.html" %}
<!doctype html> {% block content %} {% block page_content %}
<!-- 页面js -->
<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/sidebarEffects.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/coalCHP/questionnaire.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionnaire.css') }}">
<!-- MAIN -->
<style>
	.panel {
		background-color: rgba(255, 255, 255, 0.3);
		margin: 10px 0px 10px 15px;
	}
	.cd-breadcrumb.triangle li.ableClick > * {
    color: #ffffff;
    background-color: #337ab7!important;
    border-color: #337ab7 !important;
}
</style>
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			<!-- <div class="page-title">燃煤热电联产-需求调查表</div> -->
			</br>
			</br>
			</br>
			<div class="row" style="margin-top: -23px;margin-bottom: -28px;">
				<div class="col-md-12 breadcrumb-fix show">

					<div id="breadcrumbDiv" class="col-md-10 breadcrumb-div">
						<ol class="cd-breadcrumb triangle">
							<li>
								<a class="pre" href="#" data-page="5">上一页</a>
							</li>
							<!-- {% if session.planId %} -->
							<li class="ableClick">
								<a id="coalchp1" href="#">需求调查表</a>
							</li>
							<li>
								<a id="coalchp2" onclick="return false;" href="{{ url_for('coalviews.coalFurnace') }}">锅炉计算</a>
							</li>
							<li>
								<a id="coalchp3" onclick="return false;" href="{{ url_for('coalviews.coalSteamTurbine') }}">汽轮机计算</a>
							</li>
							<li>
								<a id="coalchp4" onclick="return false;" href="{{ url_for('coalviews.coalBoilerAuxiliaries') }}">锅炉辅机系统</a>
							</li>
							<li>
								<a id="coalchp5" onclick="return false;" href="{{ url_for('coalviews.coalTurbineAuxiliary') }}">汽机辅机系统</a>
							</li>
							<li>
								<a id="coalchp6" onclick="return false;" href="{{ url_for('coalviews.coalHandingSystem') }}">输煤系统</a>
							</li>
							<li>
								<a id="coalchp7" onclick="return false;" href="{{ url_for('coalviews.coalSmokeAirSystem') }}">烟风系统</a>
							</li>
							<li>
								<a id="coalchp8" onclick="return false;" href="{{ url_for('coalviews.coalDesulfurization') }}">脱硫脱硝系统</a>
							</li>
							<li>
								<a id="coalchp9" onclick="return false;" href="{{ url_for('coalviews.coalChimney') }}">烟囱</a>
							</li>
							<li>
								<a id="coalchp10" onclick="return false;" href="{{ url_for('coalviews.coalRemovalAshSlag') }}">除灰除渣系统</a>
							</li>
							<li>
								<a id="coalchp11" onclick="return false;" href="{{ url_for('coalviews.coalChemicalWater') }}">化学水系统</a>
							</li>
							<li>
								<a id="coalchp12"  onclick="return false;" href="{{ url_for('coalviews.coalCirculatingWater') }}">循环水系统</a>
							</li>
							<li>
								<a id="coalchp13" onclick="return false;" href="{{ url_for('coalviews.coalOfficialProcess') }}">公用工程</a>
							</li>
							<li>
								<a id="coalchp14"  onclick="return false;" href="{{ url_for('coalviews.coalHeatSupply') }}">采暖供热</a>
							</li>
							<li>
								<a id="coalchp15" onclick="return false;" href="{{ url_for('coalviews.coalEconomicIndicators') }}">主要技术经济指标</a>
							</li>
							<li>
								<a id="coalchp16" onclick="return false;" href="{{ url_for('coalviews.outputImage') }}">出图</a>
							</li>
							<li>
								<a id="coalchp17" href="{{ url_for('coalviews.coalEquipmentList') }}">设备参数</a>
							</li>
							<li class="current">
								<a class="next" href="#">下一页</a>
							</li>
							<!-- {% else %}
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalFurnace') }}">锅炉计算</a>
							</li>
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalSteamTurbine') }}">汽轮机计算</a>
							</li>
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalBoilerAuxiliaries') }}">锅炉辅机系统</a>
							</li>
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalTurbineAuxiliary') }}">汽机辅机系统</a>
							</li>
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalHandingSystem') }}">输煤系统</a>
							</li>
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalSmokeAirSystem') }}">烟风系统</a>
							</li>
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalDesulfurization') }}">脱硫脱硝系统</a>
							</li>
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalChimney') }}">烟囱</a>
							</li>
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalRemovalAshSlag') }}">除灰除渣系统</a>
							</li>
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalChemicalWater') }}">化学水系统</a>
							</li>
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalCirculatingWater') }}">循环水系统</a>
							</li>
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalOfficialProcess') }}">公用工程</a>
							</li>
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalHeatSupply') }}">采暖供热</a>
							</li>
							<li title="请先完善新方案">
								<a class="newPlan forbid-click" onclick="return false;" href="{{ url_for('coalviews.coalEconomicIndicators') }}">主要技术经济指标</a>
							</li>
							{% endif %} -->
						</ol>
					</div>

					<div class="col-md-1 breadcrumb-submit">
						<button type="button" id="submitData" class="btn btn-success">
							<i class="fa fa-check-circle"></i> 保 存 </button>
					</div>

				</div>
				</br>
				</br>
				</br>
				</br>
			</div>
			<form id="coalchpQuestionnaire">
				<div class="row full-width-style">

					<div class="st-content">

						<div class="st-content-inner">
							<div class="col-md-12">
								<div class="col-md-3" style="position:fixed;height:100%">
									<nav class="st-menu">
										<h2 class="icon icon-lab">需求调查表</h2>
										<ul>
											<li>
												<a class="left-select left-hover" href="#" id="q-1">项目信息</a>
											</li>
											<li>
												<a class="left-select" href="#" id="q-2">燃料情况</a>
											</li>
											<li>
												<a class="left-select" href="#" id="q-4">当地气象地址条件</a>
											</li>
											<li>
												<a class="left-select" href="#" id="q-5">热负荷需求情况</a>
											</li>
											<li>
												<a class="left-select" href="#" id="q-3">其它情况</a>
											</li>
											<!-- <li>
												<a class="left-select" href="#" id="q-6">参考信息</a>
											</li> -->
										</ul>
									</nav>

								</div>
								<div class="col-md-9" style="left:19%;">
									<div class="module-content">
										<div class="main clearfix">
											<!-- 公司信息start -->
											<div class="col-md-12 q-1">
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-building" aria-hidden="true"></i>
														<span class="margin-left15">项目信息</span>
													</div>
													<div class="panel-body">
														<div class="col-md-8">
															<div class="input-group">
																<span class="input-group-addon show-primary width-size">项目名称</span>
																<input class="form-control" type="text" name="plan_name" {% if session.planId %} readonly="true" {% endif %}>
															</div>
														</div>

														<div class="col-md-8 margin-top-20">
															<div class="input-group">
																<span class="input-group-addon show-primary width-size">单位名称</span>
																<input class="form-control" type="text" name="company_name" readonly="true" >
															</div>
														</div>
														<div class="col-md-12 margin-top-20">
															<div class="input-group">
																<span class="input-group-addon show-primary width-size1">項目所在地</span>
																<input class="form-control" type="text" name="company_location" readonly="true" >
															</div>
															</br>
															</br>
															</br>
														</div>
													</div>

												</div>

											</div>
											<!-- 公司信息end -->
											<!-- 燃料情况start -->
											<div class="col-md-12 q-2 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-fire" aria-hidden="true"></i>
														<span class="margin-left15">燃料情况</span>
													</div>

													<div class="second-title"> 煤质分析</div>

													<div class="row">
														<div class="panel-body">
															<div class="col-md-12">
																<div class="col-md-4">
																	选择燃料煤种：
																</div>
																<div class="col-md-4">
																	<div class="input-group" style="width: 50%;">
																		<select class="form-control" id="coalDesign" name="s_fuel_design">
																			{% for sort in coalsort %}
																			<option value="{{ sort.id }}">{{ sort.name }}</option>
																			{% endfor %}
																			<option value="-1" selected="selected">其他</option>
																		</select>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="input-group" style="width: 50%;">
																		<select class="form-control" id="coalCheck" name="s_fuel_check">
																			{% for sort in coalsort %}
																			<option value="{{ sort.id }}">{{ sort.name }}</option>
																			{% endfor %}
																			<option value="-1" selected="selected">其他</option>
																		</select>
																	</div>
																</div>
																<!-- <div class="col-md-1"></div> -->
															</div>
														</div>
													</div>
													<div>
														<div class="second-title"> 燃料收到基的元素分析及工业分析</div>

														{% for constant in constants %} {% if constant.name_eng in ['s_low', 's_carbon', 's_hydrogen', 's_oxygen', 's_nitrogen',
														's_sulfur', 's_water', 's_grey', 's_daf', 's_grindability'] %}
														<div class="row">
															<div class="panel-body">
																<div class="col-md-12">
																	<div class="col-md-4">{{ constant.name }}({{ constant.symbol }})</div>
																	<div class="col-md-4">
																		<div class="input-group">
																			<input class="form-control" type="text" id="{{ constant.name_eng }}_design" name="{{ constant.name_eng }}_design">
																			<span class="input-group-addon show-primary">{{ constant.unit }}</span>
																		</div>

																	</div>
																	<div class="col-md-4">
																		<div class="input-group">
																			<input class="form-control" type="text" id="{{ constant.name_eng }}_check" name="{{ constant.name_eng }}_check">
																			<span class="input-group-addon show-success">{{ constant.unit }}</span>
																		</div>
																	</div>
																	<!-- {% if constant.remark != "" %}
																	<div class="col-md-1">
																		<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
																	</div>
																	{% endif %} -->
																</div>
															</div>
														</div>
														{% endif %} {% endfor %}


													</div>

												</div>
											</div>
											<!-- 燃料情况end -->
											<!-- 其它情况start -->
											<div class="col-md-12 q-3 hide">
												<!-- INPUT GROUPS -->
												<div class="panel ">
													<div class="first-title">
														<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
														<span class="margin-left15">其它情况</span>
													</div>
													<div class="second-title"> 项目选址情况</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['os_planning_area', 'os_planned_expansion_capacity', 'os_local_water_condition']
														%}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}</div>
																<div class="col-md-8">
																	<div class="input-group">
																		<input class="form-control" type="text" name="{{ constant.name_eng }}_value">
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.remark != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
													<div class="second-title"> 电力系统</div>

													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['oe_electrical_load_demand', 'oe_higher_voltage_level', 'oe_plant_distance_higher_change',
														'oe_is_internet_access', 'oe_is_isolated_network'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}</div>
																<div class="col-md-8">
																	<div class="input-group">
																		<input class="form-control" type="text" name="{{ constant.name_eng }}_value">
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.remark != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>

													<div class="second-title"> 当地环保要求</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['op_flue_gas_sox_limits', 'op_flue_gas_nox_limits', 'op_flue_gas_dust_limits']
														%}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}</div>
																<div class="col-md-8">
																	<div class="input-group">
																		<input class="form-control" type="text" name="{{ constant.name_eng }}_value">
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.remark != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>

													<div class="second-title"> 脱硫脱硝</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['od_use_denitration_form', 'od_use_desulfurization_form', 'od_limestone_supply',
														'od_urea_or_ammonia_water_supply'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}</div>
																<div class="col-md-8">
																	<div class="input-group">
																		<input class="form-control" type="text" name="{{ constant.name_eng }}_value">
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.remark != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>

												</div>

											</div>
											<!-- 其它情况end -->
											<!-- 当地气象地址条件 -->
											<div class="col-md-12 q-4 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15">当地气象及地址条件</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['w_altitude', 'w_mean_annual_temperature', 'w_mean_summer_temperature',
														'w_mean_winter_temperature', 'w_extreme_high_temperature', 'w_extreme_low_temperature', 'w_mean_annual_barometric',
														'w_mean_summer_barometric', 'w_mean_winter_barometric', 'w_annual_average_relative_humidity', 'w_mean_summer_relative_humidity',
														'w_mean_winter_relative_humidity'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-4">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-7">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}_value" {% if constant.default_value !='' %} value="{{ constant.default_value }}" class="form-control default-color"
																		{% else %} class="form-control" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.remark != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!-- 当地气象地址条件 end -->
											<!-- 热负荷需求情况start -->
											<div class="col-md-12 q-5 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-download" aria-hidden="true"></i>
														<span class="margin-left15">热负荷需求情况</span>
													</div>
													<div class="second-title"> 工业热负荷</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['ihl_steam_pressure_level', 'ihl_steam_temperature_level', 'ihl_steam_time',
														'ihl_recent_steam_flow_range', 'ihl_forward_steam_flow_range', 'ihl_condensate_water_iron', 'ihl_condensate_water_recovery_rate']
														%}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-4">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-7">
																	<div class="input-group">
																		<input class="form-control" type="text" name="{{ constant.name_eng }}_value">
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.remark != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="left" data-content="{{ constant.remark }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}

													</div>
													<div class="second-title"> 采暖热负荷</div>

													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['hhl_heating_occasions_type', 'hhl_year_heating_days', 'hhl_recent_heating_area',
														'hhl_forward_heating_area'] %}

														<div class="row">
															<div class="col-md-12">
																<div class="col-md-4">{{ constant.name }}</div>
																<div class="col-md-7">
																	<div class="input-group">
																		<input class="form-control" type="text" name="{{ constant.name_eng }}_value">
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.remark != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>

												</div>

											</div>
											<!-- 热负荷需求情况 end -->
											<!-- 参考信息start -->
											<!-- <div class="col-md-12 q-6 hide">
												<div class="panel">

													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15">参考信息</span>
													</div>
													<div class="panel-body">
														<div class="row">
															<div class="col-md-12">
																<div>
																	<i class="fa fa-asterisk asterisk-style" aria-hidden="true"></i>
																	<i class="fa fa-square square-design" aria-hidden="true"></i> ：设计值
																	<i class="fa fa-square square-check" aria-hidden="true"></i> ：校核值
																	</br>
																</div>

															</div>
														</div>
													</div>
												</div>
											</div> -->

											<!-- 参考信息end -->




										</div>

									</div>
									</br>
								</div>

							</div>
							<!-- /st-content-inner -->
						</div>
						<!-- /st-content -->
					</div>

				</div>
		</div>
		</form>
		<!-- END MAIN CONTENT -->
	</div>
	<!-- END MAIN -->
	{% endblock %} {% endblock %}