{% extends "base.html" %}
<!doctype html> {% block content %} {% block page_content %}
<script src="{{ url_for('static', filename='js/biomassCHP/fuelSotrTran.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionnaire.css') }}">
<style>
		.panel {
			background-color: rgba(255, 255, 255, 0.3);
			margin: 10px 0px 10px 15px;
		}
		.cd-breadcrumb.triangle li.ableClick > * {
		color: #ffffff;
		background-color: #337ab7!important;
		border-color: #337ab7 !important;
	}
	</style>
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			<!-- <div class="page-title">生物质热电联产-燃料存储及输送系统</div> -->
			</br>
			</br>
			</br>
			<div class="row" style="margin-top: -23px;margin-bottom: -28px;">

				<div class="col-md-12 breadcrumb-fix show">
					<div id="breadcrumbDiv" class="col-md-10 breadcrumb-div">
						<ol class="cd-breadcrumb triangle">
								<li>
										<a class="pre" href="#" data-page="5">上一页</a>
								</li>
							<li>
								<a id="biomass1" onclick="return false;" href="{{ url_for('biomassviews.biomassQuestionnaire', id=session.planId) }}">需求调研表</a>
							</li>
							<li>
								<a id="biomass2" onclick="return false;" href="{{ url_for('biomassviews.biomassFurnace') }}">锅炉计算</a>
							</li>
							<li class="ableClick">
								<a id="biomass3" href="#">燃料存储及输送系统</a>
							</li>
							<li>
								<a id="biomass4" onclick="return false;" href="{{ url_for('biomassviews.biomassSteamTurbine') }}">汽轮机计算</a>
							</li>
							<li>
								<a id="biomass5" onclick="return false;" href="{{ url_for('biomassviews.biomassDesulDenit') }}">脱硫脱硝系统</a>
							</li>
							<li>
								<a id="biomass6" onclick="return false;" href="{{ url_for('biomassviews.biomassDASRemove') }}">除尘除灰除渣系统</a>
							</li>
							<li>
								<a id="biomass7" onclick="return false;" href="{{ url_for('biomassviews.biomassBoilerAuxiliaries') }}">锅炉辅机</a>
							</li>
							<li>
								<a id="biomass8" onclick="return false;" href="{{ url_for('biomassviews.biomassChimney') }}">烟囱</a>
							</li>
							<li>
								<a id="biomass9" onclick="return false;" href="{{ url_for('biomassviews.biomassTurbineAuxiliary') }}">汽机辅机</a>
							</li>
							<li>
								<a id="biomass10" onclick="return false;" href="{{ url_for('biomassviews.biomassCirculatingWater') }}">循环水系统</a>
							</li>
							<li>
								<a id="biomass11" onclick="return false;" href="{{ url_for('biomassviews.biomassWaterTreatment') }}">化学水处理系统</a>
							</li>
							<li>
								<a id="biomass12" onclick="return false;" href="{{ url_for('biomassviews.biomassOfficialProcess') }}">公用工程</a>
							</li>
							<li>
								<a id="biomass13" onclick="return false;" href="{{ url_for('biomassviews.biomassHeatSupply') }}">采暖供热系统</a>
							</li>
							<li>
								<a id="biomass14" onclick="return false;" href="{{ url_for('biomassviews.biomassEconomicIndicators') }}">主要技术经济指标</a>
							</li>
							<li>
								<a id="biomass15" onclick="return false;" href="{{ url_for('biomassviews.biomassImage') }}">出图</a>
							</li>
							<li>
								<a id="biomass16" onclick="return false;" href="{{ url_for('biomassviews.biomassEquipmentList') }}">设备清单</a>
							</li>
							<li class="current">
									<a class="next" href="#">下一页</a>
							</li>
						</ol>
					</div>

					<div class="col-md-2 breadcrumb-submit">
						<button type="button" id="submitData" class="btn btn-success">
							<i class="fa fa-check-circle"></i> 保 存 </button>
					</div>
				</div>
				</br>
				</br>
				</br>
				</br>
			</div>
			<form id="biomasschpStorTran">
				<div class="row full-width-style">

					<div class="st-content">

						<div class="st-content-inner">
							<div class="col-md-12">
								<div class="col-md-3" style="position:fixed;height:100%">
									<nav class="st-menu">
										<h2 class="icon icon-lab">燃料存储及输送</h2>
										<ul>
											<li>
												<a class="left-select left-hover" href="#" id="fs-1">锅炉燃料耗量</a>
											</li>
											<li>
												<a class="left-select" href="#" id="fs-2">原料堆场面积</a>
											</li>
											<li>
												<a class="left-select" href="#" id="fs-3">干料棚面积</a>
											</li>
											<li>
												<a class="left-select" href="#" id="fs-4">尾部料仓有效容积</a>
											</li>
											<li>
												<a class="left-select" href="#" id="fs-5">尾部螺旋给料机出力</a>
											</li>
											<li>
												<a class="left-select" href="#" id="fs-6">上料系统出力</a>
											</li>
											<li>
												<a class="left-select" href="#" id="fs-7">炉前料仓有效容积</a>
											</li>
											<li>
												<a class="left-select" href="#" id="fs-8">炉前螺旋给料机出力</a>
											</li>
										</ul>
									</nav>

								</div>
								<div class="col-md-9" style="left:19%;">
									<div class="module-content">
										<div class="main clearfix">
											<!-- 锅炉燃料耗量 -->
											<div class="col-md-12 fs-1">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-free-code-camp" aria-hidden="true"></i>
														<span class="margin-left15">锅炉燃料耗量</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['b_rated_fuel_consumption', 'b_saily_use_hours', 'b_daily_consumption',
														'b_annual_use_hours', 'b_year_consumption', 'b_unbalance_coefficient', 'b_daily_fuel_consumption', 'b_carrying_vehicle_load',
														'b_daily_vehicle'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design"
																		 name="{{ constant.name_eng }}_design"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design" name="{{ constant.name_eng }}_design"> {% endif %}

																		<span class="input-group-addon show-primary">{{ constant.unit }}</span>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check"
																		 name="{{ constant.name_eng }}_check"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check" name="{{ constant.name_eng }}_check"> {% endif %}
																		<span class="input-group-addon show-success">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>

												</div>
											</div>

											<!-- 原料堆场面积 -->
											<div class="col-md-12 fs-2 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-home" aria-hidden="true"></i>
														<span class="margin-left15">原料堆场面积</span>
														{% for constant in constants %} {% if constant.name_eng in ['s_fuel_reserve_days'] %}
														<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
														{% endif %} {% endfor %}
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['s_fuel_reserve_days', 's_fuel_available_reserves', 's_aggregate_coefficient',
														's_average_stack_height', 's_fuel_bulk_density', 's_yardarea'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design"
																		 name="{{ constant.name_eng }}_design"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design" name="{{ constant.name_eng }}_design"> {% endif %}
																		<span class="input-group-addon show-primary">{{ constant.unit }}</span>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check"
																		 name="{{ constant.name_eng }}_check"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check" name="{{ constant.name_eng }}_check"> {% endif %}
																		<span class="input-group-addon show-success">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- 干料棚面积 -->
											<div class="col-md-12 fs-3 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-institution" aria-hidden="true"></i>
														<span class="margin-left15">干料棚面积</span>
														{% for constant in constants %} {% if constant.name_eng in ['d_fuel_reserve_days'] %}
														<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
														{% endif %} {% endfor %}
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['d_fuel_reserve_days', 'd_fuel_available_reserves', 'd_aggregate_coefficient',
														'd_average_stack_height', 'd_fuel_bulk_density', 'd_yardarea'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design"
																		 name="{{ constant.name_eng }}_design"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design" name="{{ constant.name_eng }}_design"> {% endif %}
																		<span class="input-group-addon show-primary">{{ constant.unit }}</span>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check"
																		 name="{{ constant.name_eng }}_check"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check" name="{{ constant.name_eng }}_check"> {% endif %}
																		<span class="input-group-addon show-success">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- 尾部料仓有效容积 -->
											<div class="col-md-12 fs-4 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-hourglass-3" aria-hidden="true"></i>
														<span class="margin-left15">尾部料仓有效容积</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['t_rated_fuel_consumption', 't_hourage', 't_bin_quantity', 't_total_effective_volume',
														't_single_effective_volume_calculation', 't_single_effective_volume_selected', 't_consumption_hours'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design"
																		 name="{{ constant.name_eng }}_design"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design" name="{{ constant.name_eng }}_design"> {% endif %}
																		<span class="input-group-addon show-primary">{{ constant.unit }}</span>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check"
																		 name="{{ constant.name_eng }}_check"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check" name="{{ constant.name_eng }}_check"> {% endif %}
																		<span class="input-group-addon show-success">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!-- 尾部螺旋给料机出力 -->
											<div class="col-md-12 fs-5 hide">
												<!-- INPUT GROUPS -->
												<div class="panel  margin-right30">
													<div class="first-title">
														<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
														<span class="margin-left15">尾部螺旋给料机出力</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['f_rated_fuel_consumption', 'f_duplex_number', 'f_flushness',
														'f_duplex_output', 'f_single_duplex_output'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design"
																		 name="{{ constant.name_eng }}_design"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design" name="{{ constant.name_eng }}_design"> {% endif %}
																		<span class="input-group-addon show-primary">{{ constant.unit }}</span>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check"
																		 name="{{ constant.name_eng }}_check"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check" name="{{ constant.name_eng }}_check"> {% endif %}
																		<span class="input-group-addon show-success">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- 上料系统出力 -->
											<div class="col-md-12 fs-6 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-rocket" aria-hidden="true"></i>
														<span class="margin-left15">上料系统出力</span>
														{% for constant in constants %} {% if constant.name_eng in ['f_single_rated_fuel_consumption'] %}
														<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
														{% endif %} {% endfor %}
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['f_single_rated_fuel_consumption', 'f_daily_consumption', 'f_feeding_output_calculation'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design"
																		 name="{{ constant.name_eng }}_design"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design" name="{{ constant.name_eng }}_design"> {% endif %}
																		<span class="input-group-addon show-primary">{{ constant.unit }}</span>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check"
																		 name="{{ constant.name_eng }}_check"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check" name="{{ constant.name_eng }}_check"> {% endif %}
																		<span class="input-group-addon show-success">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} 

														{% if constant.name_eng in ['f_feeding_output_selected'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design"
																		 name="{{ constant.name_eng }}_design"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design" name="{{ constant.name_eng }}_design"> {% endif %}
																		<span class="input-group-addon show-primary">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %}													
														
														{% if constant.name_eng in ['f_belt_width'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}</div>
																<div class="col-md-8">
																	<div class="input-group">
																		<select class="form-control" id="beltWidth" name="{{ constant.name_eng }}">
																			{% for sort in beltsort %} {% if sort.width == "1400" %}
																			<option value="{{ sort.width }}" selected>{{ sort.width }}</option>
																			{% else %}
																			<option value="{{ sort.width }}">{{ sort.width }}</option>
																			{% endif %} {% endfor %}
																		</select>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% if constant.name_eng in ['f_section_coefficient', 'f_belt_speed', 'f_loose_density', 'f_belt_max_delivery']
														%}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}</div>
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.name_eng in ['f_section_coefficient'] %} {% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" id="belt_coefficient" value="415" name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" type="text" id="belt_coefficient" value="415" name="{{ constant.name_eng }}"> {% endif %} {% else %} {% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" name="{{ constant.name_eng }}"> {% endif %} {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!-- 炉前料仓有效容积 -->
											<div class="col-md-12 fs-7 hide">
												<!-- INPUT GROUPS -->
												<div class="panel  margin-right30">
													<div class="first-title">
														<i class="fa fa-hourglass-1" aria-hidden="true"></i>
														<span class="margin-left15">炉前料仓有效容积</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['bs_rated_fuel_consumption', 'b_hourage', 'b_bin_quantity', 'b_total_effective_volume',
														'b_single_effective_volume_calculation', 'b_single_effective_volume_selected', 'b_consumption_hours'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design"
																		 name="{{ constant.name_eng }}_design"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design" name="{{ constant.name_eng }}_design"> {% endif %}
																		<span class="input-group-addon show-primary">{{ constant.unit }}</span>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check"
																		 name="{{ constant.name_eng }}_check"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check" name="{{ constant.name_eng }}_check"> {% endif %}
																		<span class="input-group-addon show-success">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!-- 炉前螺旋给料机出力 -->
											<div class="col-md-12 fs-8 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-send" aria-hidden="true"></i>
														<span class="margin-left15">炉前螺旋给料机出力</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['s_rated_fuel_consumption', 's_duplex_number', 's_flushness',
														's_duplex_output', 's_single_duplex_output'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design"
																		 name="{{ constant.name_eng }}_design"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_design" name="{{ constant.name_eng }}_design"> {% endif %}
																		<span class="input-group-addon show-primary">{{ constant.unit }}</span>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" readonly="true" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check"
																		 name="{{ constant.name_eng }}_check"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" id="{{ constant.name_eng }}_check" name="{{ constant.name_eng }}_check"> {% endif %}
																		<span class="input-group-addon show-success">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</form>
			<!-- END MAIN CONTENT -->
			</div>
			<!-- END MAIN -->
			{% endblock %} {% endblock %}