{% extends "base.html" %}
<!doctype html> {% block content %} {% block page_content %}
<script src="{{ url_for('static', filename='js/biomassCHP/auxiliaries.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionnaire.css') }}">
<style>
		.panel {
			background-color: rgba(255, 255, 255, 0.3);
			margin: 10px 0px 10px 15px;
		}
		.cd-breadcrumb.triangle li.ableClick > * {
		color: #ffffff;
		background-color: #337ab7!important;
		border-color: #337ab7 !important;
	}
	</style>
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			<!-- <div class="page-title">生物质热电联产-锅炉辅机</div> -->
			</br>
			</br>
			</br>
			<div class="row" style="margin-top: -23px;margin-bottom: -28px;">
				<div class="col-md-12 breadcrumb-fix show">
					<div id="breadcrumbDiv" class="col-md-10 breadcrumb-div">
						<ol class="cd-breadcrumb triangle">
							<li>
								<a class="pre" href="#" data-page="10">上一页</a>
							</li>
							<li>
								<a id="biomass1" onclick="return false;" href="{{ url_for('biomassviews.biomassQuestionnaire', id=session.planId) }}">需求调研表</a>
							</li>
							<li>
								<a id="biomass2" onclick="return false;" href="{{ url_for('biomassviews.biomassFurnace') }}">锅炉计算</a>
							</li>
							<li>
								<a id="biomass3" onclick="return false;" href="{{ url_for('biomassviews.biomassFuelStorTran') }}">燃料存储及输送系统</a>
							</li>
							<li>
								<a id="biomass4" onclick="return false;" href="{{ url_for('biomassviews.biomassSteamTurbine') }}">汽轮机计算</a>
							</li>
							<li>
								<a id="biomass5" onclick="return false;" href="{{ url_for('biomassviews.biomassDesulDenit') }}">脱硫脱硝系统</a>
							</li>
							<li>
								<a id="biomass6" onclick="return false;" href="{{ url_for('biomassviews.biomassDASRemove') }}">除尘除灰除渣系统</a>
							</li>
							<li class="ableClick">
								<a id="biomass7" href="#">锅炉辅机</a>
							</li>
							<li>
								<a id="biomass8" onclick="return false;" href="{{ url_for('biomassviews.biomassChimney') }}">烟囱</a>
							</li>
							<li>
								<a id="biomass9" onclick="return false;" href="{{ url_for('biomassviews.biomassTurbineAuxiliary') }}">汽机辅机</a>
							</li>
							<li>
								<a id="biomass10" onclick="return false;" href="{{ url_for('biomassviews.biomassCirculatingWater') }}">循环水系统</a>
							</li>
							<li>
								<a id="biomass11" onclick="return false;" href="{{ url_for('biomassviews.biomassWaterTreatment') }}">化学水处理系统</a>
							</li>
							<li>
								<a id="biomass12" onclick="return false;" href="{{ url_for('biomassviews.biomassOfficialProcess') }}">公用工程</a>
							</li>
							<li>
								<a id="biomass13" onclick="return false;" href="{{ url_for('biomassviews.biomassHeatSupply') }}">采暖供热系统</a>
							</li>
							<li>
								<a id="biomass14" onclick="return false;" href="{{ url_for('biomassviews.biomassEconomicIndicators') }}">主要技术经济指标</a>
							</li>
							<li>
								<a id="biomass15" onclick="return false;" href="{{ url_for('biomassviews.biomassImage') }}">出图</a>
							</li>
							<li>
								<a id="biomass16" onclick="return false;" href="{{ url_for('biomassviews.biomassEquipmentList') }}">设备清单</a>
							</li>
							<li class="current">
									<a class="next" href="#">下一页</a>
							</li>
						</ol>
					</div>

					<div class="col-md-2 breadcrumb-submit">
						<button type="button" id="submitData" class="btn btn-success">
							<i class="fa fa-check-circle"></i> 保 存 </button>
					</div>
				</div>
				</br>
				</br>
				</br>
				</br>
			</div>
			<form id="biomasschpAuxiliaries">
				<div class="row full-width-style">
					<div class="st-content">

						<div class="st-content-inner">
							<div class="col-md-12">
								<div class="col-md-3" style="position:fixed;height:100%">
									<nav class="st-menu">
										<h2 class="icon icon-lab">锅炉辅机系统</h2>
										<ul>
											<li>
												<a class="left-select left-hover" href="#" id="b-1">海拔大气压换算</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-2">工况--标况选型计算</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-3">标况--工况选型计算</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-4">一次风机选型计算</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-5">二次风机选型计算</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-6">定期排污扩容器选型计算</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-7">连续排污扩容器选型计算</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-8">引风机选型计算</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-9">返料风机选型计算</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-10">给水泵选型计算</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-11">除氧器计算</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-12">除氧器安装高度核算</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-13">减温减压器</a>
											</li>
											<li>
												<a class="left-select" href="#" id="b-14">蓄热器</a>
											</li>
										</ul>
									</nav>

								</div>
								<div class="col-md-9" style="left:19%;">
									<div class="module-content">
										<div class="main clearfix">
											<!-- 海拔大气压换算 -->
											<div class="col-md-12 b-1">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-globe" aria-hidden="true"></i>
														<span class="margin-left15">海拔大气压换算</span>&nbsp;&nbsp;&nbsp;
															<i class="fa fa-file-image-o" title="参考信息" id="info1" style="cursor: pointer;"></i>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['a_altitude', 'a_atmosphere'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>

												</div>
											</div>
											<!-- 工况--标况 -->
											<div class="col-md-12 b-2 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-arrows-h" aria-hidden="true"></i>
														<span class="margin-left15">工况--标况</span>
													</div>
													<div class="second-title"> 一次风</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['f_working_condition_temperature', 'f_working_flow', 'f_local_atmosphere',
														'f_standard_temperature', 'f_standard_pressure', 'f_standard_flow'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
													<div class="second-title"> 二次风</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['s_working_condition_temperature', 's_working_flow', 's_local_atmosphere',
														's_standard_temperature', 's_standard_pressure', 's_standard_flow'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
													<div class="second-title">烟</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['a_working_condition_temperature', 'a_working_flow', 'a_local_atmosphere',
														'a_standard_temperature', 'a_standard_pressure', 'a_standard_flow'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!-- 标况--工况 -->
											<div class="col-md-12 b-3 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-arrows-v" aria-hidden="true"></i>
														<span class="margin-left15">标况--工况</span>
													</div>
													<div class="second-title">一次风</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['bf_standard_temperature', 'bf_standard_pressure', 'bf_standard_flow',
														'bf_working_condition_temperature', 'bf_local_atmosphere', 'bf_working_flow'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
													<div class="second-title">二次风</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['bs_standard_temperature', 'bs_standard_pressure', 'bs_standard_flow',
														'bs_working_condition_temperature', 'bs_local_atmosphere', 'bs_working_flow'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
													<div class="second-title">烟</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['ba_standard_temperature', 'ba_standard_pressure', 'ba_standard_flow',
														'ba_working_condition_temperature', 'ba_local_atmosphere', 'ba_working_flow'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!-- 一次风机计算 -->
											<div class="col-md-12 b-4 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-calculator" aria-hidden="true"></i>
														<span class="margin-left15">一次风机计算</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['sf_temperature', 'sf_boiler_resistance', 'sf_duct_resistance',
														'sf_local_atmosphere', 'sf_smoke_flow', 'sf_medium_temperature', 'sf_fan_pressure', 'sf_fan_select_pressure',
														'sf_fan_select_flow', 'sf_fan_efficiency', 'sf_motor_efficiency', 'sf_fan_power', 'sf_motor_safe', 'sf_motor_power',
														'sf_select_result'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!-- 二次风机计算 -->
											<div class="col-md-12 b-5 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-calculator" aria-hidden="true"></i>
														<span class="margin-left15">二次风机计算</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['ss_temperature', 'ss_boiler_resistance', 'ss_duct_resistance',
														'ss_local_atmosphere', 'ss_smoke_flow', 'ss_medium_temperature', 'ss_fan_pressure', 'ss_fan_select_pressure',
														'ss_fan_select_flow', 'ss_fan_efficiency', 'ss_motor_efficiency', 'ss_fan_power', 'ss_motor_safe', 'ss_motor_power',
														'ss_select_result'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- 定期排污扩容器 -->
											<div class="col-md-12 b-6 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-circle-o" aria-hidden="true"></i>
														<span class="margin-left15">定期排污扩容器</span>&nbsp;&nbsp;&nbsp;
															<i class="fa fa-file-image-o" title="参考信息" id="info2" style="cursor: pointer;"></i>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['r_boiler_evaporation', 'r_emission_time', 'r_emission_rate',
														'r_sewage_quantity', 'r_drum_pressure', 'r_drum_aturatedwater_enthalpy', 'r_work_pressure', 'r_work_aturatedwater_enthalpy',
														'r_work_latentheat_vaporization', 'r_ultimate_strength', 'r_volume', 'r_specifications'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- 连续排污扩容器 -->
											<div class="col-md-12 b-7 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-sun-o" aria-hidden="true"></i>
														<span class="margin-left15">连续排污扩容器</span>&nbsp;&nbsp;&nbsp;
															<i class="fa fa-file-image-o" title="参考信息" id="info3" style="cursor: pointer;"></i>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['c_boiler_evaporation', 'c_emission_rate', 'c_sewage_quantity',
														'c_drum_pressure', 'c_drum_aturatedwater_enthalpy', 'c_work_pressure', 'c_work_aturatedwater_enthalpy', 'c_work_steam_pecificvolume',
														'c_work_latentheat_vaporization', 'c_steam_dryness', 'c_ultimate_strength', 'c_vaporization_capacity', 'c_volume',
														'c_specifications'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- 引风机计算 -->
											<div class="col-md-12 b-8 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-calculator" aria-hidden="true"></i>
														<span class="margin-left15">引风机计算</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['i_temperature', 'i_boiler_resistance', 'i_denitration', 'i_duster',
														'i_duct_resistance', 'i_cduct_resistance', 'i_local_atmosphere', 'i_smoke_flow', 'i_medium_temperature', 'i_fan_pressure',
														'i_fan_select_pressure', 'i_fan_select_flow', 'i_fan_efficiency', 'i_motor_efficiency', 'i_fan_power', 'i_motor_safe',
														'i_motor_power', 'i_select_result'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!-- 返料风机计算 -->
											<div class="col-md-12 b-9 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-calculator" aria-hidden="true"></i>
														<span class="margin-left15">返料风机计算</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['r_temperature', 'r_pressure', 'r_duct_resistance', 'r_local_atmosphere',
														'r_smoke_flow', 'r_medium_temperature', 'r_fan_pressure', 'r_fan_select_pressure', 'r_fan_select_flow', 'r_fan_efficiency',
														'r_motor_efficiency', 'r_fan_power', 'r_motor_safe', 'r_motor_power', 'r_select_result'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!-- 给水泵计算 -->
											<div class="col-md-12 b-10 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-calculator" aria-hidden="true"></i>
														<span class="margin-left15">给水泵计算</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['f_boiler_use_pressure', 'f_economizer_entry_pressure', 'f_deaerator_work_pressure',
														'f_pipe_resistance', 'f_inlet_pipe_resistance', 'f_center_water', 'f_deaerator_center', 'f_pump_total_head',
														'f_flow', 'f_pump_efficiency', 'f_mechanical_transmission_efficiency', 'f_motor_efficiency', 'f_motor_reserve_coefficient',
														'f_auxiliary_motor_power', 'f_pump_selection'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!-- 除氧水箱有效容积计算 -->
											<div class="col-md-12 b-11 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-calculator" aria-hidden="true"></i>
														<span class="margin-left15">除氧器计算</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['f_deaerator_quantity', 'f_deaerator_pressure', 'f_deaerator_temperature', 'f_boiler_evaporation', 'f_water_storage_time', 'f_effective_volume',
														'f_length', 'f_diameter'] %}
														<div class="row">
															<div class="col-md-12">
																{% if constant.symbol != "" %}
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																{% else %}
																<div class="col-md-3">{{ constant.name }}</div>
																{% endif %}
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" value="{{ constant.default_value }}" readonly="true" id="{{ constant.name_eng }}" type="text"
																		 name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" id="{{ constant.name_eng }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!-- 除氧器安装高度核算 -->
											<div class="col-md-12 b-12 hide">
												<div class="panel  margin-right30">
													<div class="first-title">
														<i class="fa fa-gears" aria-hidden="true"></i><span class="margin-left15"> 7.除氧器安装高度核算</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} 
														{% if constant.name_eng in ['s_max_feedwater_amount', 's_de_ox_pressure', 's_local_atmosphere_value', 
														's_local_atmosphere_density', 's_design_flux', 's_net_positive_suction_head',
														's_total_resistance', 's_inlet_speed', 's_added_height', 's_pump_install_height'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-8">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> 
														{% endif %} 
														{% endfor %}
													</div>
												</div>
											</div>
											<!-- 减温减压器 -->
											<div class="col-md-12 b-13 hide">
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15"> 减温减压器---已知减温前、后参数求减温水量及减温后量</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['t_new_steam_temperature', 't_new_pressure', 't_new_enthalpy', 't_new_flow_rate',
														't_reduce_water_temperature', 't_reduce_water_pressure', 't_reduce_water_enthalpy', 't_reduce_water_flow_rate', 't_reduce_steam_temperature', 't_reduce_steam_pressure',
														't_reduce_steam_enthalpy', 't_reduce_enough_enthalpy', 't_reduce_persent', 't_rudece_flow_rate']
														%}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-8">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- 蓄热器 -->
											<div class="col-md-12 b-14 hide">
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-map-marker" aria-hidden="true"></i>
														<span class="margin-left15"> 蓄热器---单位水容积的蓄热量gs、蓄热器容积计算、质量蒸发强度R2</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['charging_pressure', 'exothermic_pressure', 'charging_saturation_water_enthalpy', 
														'exothermic_saturation_water_enthalpy', 'charging_saturation_steam_enthalpy', 'exothermic_saturation_steam_enthalpy',
														'p2_steam_amount', 'charging_water_specific_volume', 'unit_water_heat_amount', 
														'regenerarot_efficiency', 'water_fill_coefficient', 'regenerarot_heat_amount',
														'regenerarot_volume', 'regenerarot_top_steam_volume', 'boiler_max_load',
														'boiler_average_load', 'regenerarot_max_bleed', 'evaporation_capacity',
														'exothermic_evaporation_capacity', 'charging_volume', 
														'exothermic_water_specific_volume', 'exothermic_water_volume']
														%}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-8">
																	<div class="input-group">
																		<input type="text" name="{{ constant.name_eng }}" {% if constant.default_value !='' %} value="{{ constant.default_value }}"
																		 class="form-control" {% else %} class="form-control" {% endif %} {% if constant.disable=='T'
																		 %} readonly="true" {% endif %}>
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>

																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}

															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
			</form>
			<!-- END MAIN CONTENT -->
			</div>
			<!-- END MAIN -->
			{% endblock %} {% endblock %}