{% extends "base.html" %}
<!doctype html> {% block content %} {% block page_content %}
<script src="{{ url_for('static', filename='js/biomassCHP/official.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionnaire.css') }}">
<style>
		.panel {
			background-color: rgba(255, 255, 255, 0.3);
			margin: 10px 0px 10px 15px;
		}
		.cd-breadcrumb.triangle li.ableClick > * {
		color: #ffffff;
		background-color: #337ab7!important;
		border-color: #337ab7 !important;
	}
	</style>
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			<!-- <div class="page-title">生物质热电联产-公用工程</div> -->
			</br>
			</br>
			</br>
			<div class="row" style="margin-top: -23px;margin-bottom: -28px;">
				<div class="col-md-12 breadcrumb-fix show">
					<div id="breadcrumbDiv" class="col-md-10 breadcrumb-div">
						<ol class="cd-breadcrumb triangle">
								<li>
										<a class="pre" href="#" data-page="15">上一页</a>
								</li>
							<li>
								<a id="biomass1" onclick="return false;" href="{{ url_for('biomassviews.biomassQuestionnaire', id=session.planId) }}">需求调研表</a>
							</li>
							<li>
								<a id="biomass2" onclick="return false;" href="{{ url_for('biomassviews.biomassFurnace') }}">锅炉计算</a>
							</li>
							<li>
								<a id="biomass3" onclick="return false;" href="{{ url_for('biomassviews.biomassFuelStorTran') }}">燃料存储及输送系统</a>
							</li>
							<li>
								<a id="biomass4" onclick="return false;" href="{{ url_for('biomassviews.biomassSteamTurbine') }}">汽轮机计算</a>
							</li>
							<li>
								<a id="biomass5" onclick="return false;" href="{{ url_for('biomassviews.biomassDesulDenit') }}">脱硫脱硝系统</a>
							</li>
							<li>
								<a id="biomass6" onclick="return false;" href="{{ url_for('biomassviews.biomassDASRemove') }}">除尘除灰除渣系统</a>
							</li>
							<li>
								<a id="biomass7" onclick="return false;" href="{{ url_for('biomassviews.biomassBoilerAuxiliaries') }}">锅炉辅机</a>
							</li>
							<li>
								<a id="biomass8" onclick="return false;" href="{{ url_for('biomassviews.biomassChimney') }}">烟囱</a>
							</li>
							<li>
								<a id="biomass9" onclick="return false;" href="{{ url_for('biomassviews.biomassTurbineAuxiliary') }}">汽机辅机</a>
							</li>
							<li>
								<a id="biomass10" onclick="return false;" href="{{ url_for('biomassviews.biomassCirculatingWater') }}">循环水系统</a>
							</li>
							<li>
								<a id="biomass11" onclick="return false;" href="{{ url_for('biomassviews.biomassWaterTreatment') }}">化学水处理系统</a>
							</li>
							<li class="ableClick">
								<a id="biomass12" href="#">公用工程</a>
							</li>
							<li>
								<a id="biomass13" onclick="return false;" href="{{ url_for('biomassviews.biomassHeatSupply') }}">采暖供热系统</a>
							</li>
							<li>
								<a id="biomass14" onclick="return false;" href="{{ url_for('biomassviews.biomassEconomicIndicators') }}">主要技术经济指标</a>
							</li>
							<li>
								<a id="biomass15" onclick="return false;" href="{{ url_for('biomassviews.biomassImage') }}">出图</a>
							</li>
							<li>
								<a id="biomass16" onclick="return false;" href="{{ url_for('biomassviews.biomassEquipmentList') }}">设备清单</a>
							</li>
							<li class="current">
									<a class="next" href="#">下一页</a>
								</li>
						</ol>
					</div>

					<div class="col-md-2 breadcrumb-submit">
						<button type="button" id="submitData" class="btn btn-success">
							<i class="fa fa-check-circle"></i> 保 存 </button>
					</div>
				</div>
				</br>
				</br>
				</br>
				</br>
			</div>
			<form id="biomasschpOfficial">
				<div class="row full-width-style">
					<div class="st-content">

						<div class="st-content-inner">
							<div class="col-md-12">
								<div class="col-md-3" style="position:fixed;height:100%">
									<nav class="st-menu">
										<h2 class="icon icon-lab">公用工程</h2>
										<ul>
											<li>
												<a class="left-select left-hover" href="#" id="o-1">锅炉点火系统</a>
											</li>
											<li>
												<a class="left-select hide" href="#" id="o-2">循环流化床点火油系统</a>
											</li>
											<li>
												<a class="left-select" href="#" id="o-3">启动锅炉系统</a>
											</li>
										</ul>
									</nav>

								</div>
								<div class="col-md-9" style="left:19%;">
									<div class="module-content">
										<div class="main clearfix">
											<!-- 锅炉点火系统 -->
											<div class="col-md-12 o-1">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-free-code-camp" aria-hidden="true"></i>
														<span class="margin-left15">锅炉点火系统</span>
													</div>
													<div class="panel-body">
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">炉型</div>
																<div class="col-md-8">
																	<div>
																		<select class="form-control" id="boilerType" name="o_boiler_type">
																			<option value="0" selected></option>
																			<option value="1">层燃炉（包括联合炉排炉、水冷振动炉排炉）</option>
																			<option value="2">循环流化床锅炉（含差速床）</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<br>
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">点火方式</div>
																<div class="col-md-8">
																	<div>
																		<input class="form-control" type="text" id="fireWay" name="o_fire_way">
																	</div>
																</div>
															</div>
														</div>

													</div>

												</div>
											</div>
											<!-- 循环流化床（含差速床）点火油系统 -->
											<div class="col-md-12 o-2 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-circle-o" aria-hidden="true"></i>
														<span class="margin-left15">循环流化床（含差速床）点火油系统</span>
													</div>
													<div class="second-title">日用油罐</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['o_oil_can'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}</div>
																<div class="col-md-8">
																	<div class="input-group">
																		<input class="form-control" type="text" value="{{ constant.default_value }}" name="{{ constant.name_eng }}">
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
													<div class="second-title">供油泵</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['o_oil_pump', 'o_oil_pump_pressure'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}</div>
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" readonly="true" name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" type="text" value="{{ constant.default_value }}" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											<!-- 锅炉补给水系统 -->
											<div class="col-md-12 o-3 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-send-o" aria-hidden="true"></i>
														<span class="margin-left15">启动锅炉系统</span>
														{% for constant in constants %} {% if constant.name_eng in ['o_steam_parameter'] %}
														<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i>
														{% endif %} {% endfor %}
													</div>
													<div class="panel-body">
														<!--{% for constant in constants %} {% if constant.name_eng in ['o_steam_parameter', 'o_steam_volumn'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}</div>
																<div class="col-md-8">
																	<div>
																		<input class="form-control" type="text" name="{{ constant.name_eng }}">
																	</div>
																</div>
																{% if constant.remark != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}-->
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">蒸汽参数</div>
																<div class="col-md-8">
																	<div>
																		<select class="form-control" id="steamParameter" name="o_steam_parameter">
																			<option value="0" selected></option>
																			<option value="1">0.7MPa/170℃</option>
																			<option value="2">1.0MPa /184℃</option>
																			<option value="3">1.25MPa /194℃</option>
																			<option value="4">1.6 MPa /204℃</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<br>
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">额定蒸发量</div>
																<div class="col-md-8">
																	<div>
																		<select class="form-control" id="steamVolumn" name="o_steam_volumn">
																			<option value="0" selected></option>
																			<option value="1">2t/h</option>
																			<option value="2">4t/h</option>
																			<option value="3">6t/h</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<br>
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">燃料类型</div>
																<div class="col-md-8">
																	<div>
																		<select class="form-control" id="fuelType" name="o_fuel_type">
																			<option value="0" selected></option>
																			<option value="1">生物质压块/颗粒棒</option>
																			<option value="2">燃气/燃油 </option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<br> {% for constant in constants %} {% if constant.name_eng in ['o_install_way'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}</div>
																<div class="col-md-8">
																	<div>
																		<input class="form-control" type="text" value="快装式" name="{{ constant.name_eng }}">
																	</div>
																</div>
															</div>
														</div>
														<br> {% endif %} {% endfor %}
														{% for constant in constants %} {% if constant.name_eng in ['o_furnace_type'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}</div>
																<div class="col-md-8">
																	<div>
																		<input class="form-control" type="text" id=furnaceType readonly=true name="{{ constant.name_eng }}">
																	</div>
																</div>
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</form>
			<!-- END MAIN CONTENT -->
			</div>
			<!-- END MAIN -->
			{% endblock %} {% endblock %}