{% extends "base.html" %}
<!doctype html> {% block content %} {% block page_content %}
<script src="{{ url_for('static', filename='js/biomassCHP/biomassDASRemove.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/biomassCHP/questionnaire.css') }}">
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content width88">
		<div class="container-fluid">
			<div class="page-title">生物质热电联产-除尘除灰除渣系统</div>
			<div class="row">

				<div class="col-md-12">

					<div class="panel">
						<div class="page-title">除尘除灰除渣系统</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="row col-md-6">	
					<!-- 除尘器计算 -->
					<div class="col-md-12">
						<!-- INPUT GROUPS -->
						<div class="panel">
							<div class="first-title"><i class="fa fa-leaf" aria-hidden="true"></i><span class="margin-left15">除尘器计算</span></div>
							<div class="panel-body">
								{% for constant in constants %} 
								{% if constant.name_eng in ['d_total_ash', 'd_flyash_fraction', 'd_entry_flyash', 'd_standard_smoke_flow', 'd_actual_smoke_flow', 'd_standard_smoke_concentration', 'd_actual_smoke_concentration', 'd_dust_remove_efficiency', 'd_exit_smoke_concentration', 'd_exit_smoke_flow', 'd_dust_wiper_flow', 'd_entry_smoke_volume', 'd_tun_exit_smoke_concentration', 'd_env_particulate'] %}
								<div class="row">
									<div class="col-md-12">
										{% if constant.symbol != "" %}
											<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
										{% else %}
											<div class="col-md-3">{{ constant.name }}</div>
										{% endif %}
										<div class="col-md-8">
											<div class="input-group">
												{% if  constant.default_value != "" %}
													<input class="form-control" value="{{ constant.default_value }}" type="text">
												{% else %}
													<input class="form-control" type="text">
												{% endif %}
												<span class="input-group-addon show-unit">{{ constant.unit }}</span>
											</div>
										</div>
										{% if constant.calculate != "" %}
											<div class="col-md-1"><i class="fa fa-question-circle-o"  title="备注："  data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i></div>
										{% endif %}
									</div>
								</div>
								<br>
								{% endif %}
								{% endfor %}
							</div>

						</div>
					</div>
					<!-- 除灰系统计算 -->
					<div class="col-md-12">
						<!-- INPUT GROUPS -->
						<div class="panel">
							<div class="first-title"><i class="fa fa-tint" aria-hidden="true"></i><span class="margin-left15">除灰系统计算--正压浓相气力输送</span>
								{% for constant in constants %}
								{% if constant.name_eng in ['a_remove_output'] %}
									<i class="fa fa-question-circle-o"  title="备注："  data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
								{% endif %}
								{% endfor %}
							</div>
							<div class="panel-body">
								{% for constant in constants %} 
								{% if constant.name_eng in ['a_remove_output', 'a_bulk_density', 'a_fullness', 'a_storage_time', 'a_volumn', 'a_diameter', 'a_height'] %}
								<div class="row">
									<div class="col-md-12">
										{% if constant.symbol != "" %}
											<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
										{% else %}
											<div class="col-md-3">{{ constant.name }}</div>
										{% endif %}
										<div class="col-md-8">
											<div class="input-group">
												{% if  constant.default_value != "" %}
													<input class="form-control" value="{{ constant.default_value }}" type="text">
												{% else %}
													<input class="form-control" type="text">
												{% endif %}
												<span class="input-group-addon show-unit">{{ constant.unit }}</span>
											</div>
										</div>
										{% if constant.calculate != "" %}
											<div class="col-md-1"><i class="fa fa-question-circle-o"  title="备注："  data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i></div>
										{% endif %}
									</div>
								</div>
								<br>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="row">
						<!-- 输灰系统耗气量计算 -->
						<div class="col-md-12">
							<!-- INPUT GROUPS -->
							<div class="panel  margin-right30">
								<div class="first-title"><i class="fa fa-sun-o" aria-hidden="true"></i><span class="margin-left15">输灰系统耗气量计算---空压站</span></div>
								<div class="panel-body">
									{% for constant in constants %} 
									{% if constant.name_eng in ['a_ratio', 'a_gas_consumption'] %}
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
											<div class="col-md-8">
												<div class="input-group">
													{% if  constant.default_value != "" %}
														<input class="form-control" value="{{ constant.default_value }}" type="text">
													{% else %}
														<input class="form-control" type="text">
													{% endif %}
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
												</div>
											</div>
											{% if constant.calculate != "" %}
												<div class="col-md-1"><i class="fa fa-question-circle-o"  title="备注："  data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i></div>
											{% endif %}
										</div>
									</div>
									<br>
									{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>

						<!-- 除渣系统计算 -->
						<div class="col-md-12">
							<!-- INPUT GROUPS -->
							<div class="panel  margin-right30">
								<div class="first-title"><i class="fa fa-send-o" aria-hidden="true"></i><span class="margin-left15">除渣系统计算--干式机械除渣（适用于CFB锅炉）</span>
									{% for constant in constants %}
									{% if constant.name_eng in ['s_slag_quantity'] %}
										<i class="fa fa-question-circle-o"  title="备注："  data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.remark }}"></i>
									{% endif %}
									{% endfor %}
								</div>
								<div class="panel-body">
									{% for constant in constants %} 
									{% if constant.name_eng in ['s_slag_quantity', 's_yns_output', 's_coolwater', 's_yns_number', 's_slag_output', 's_conveyor_output', 's_bulk_density', 's_fullness', 's_storage_time', 's_volumn', 's_diameter', 's_height'] %}
									<div class="row">
										<div class="col-md-12">
											{% if constant.symbol != "" %}
												<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
											{% else %}
												<div class="col-md-3">{{ constant.name }}</div>
											{% endif %}
											<div class="col-md-8">
												<div class="input-group">
													{% if  constant.default_value != "" %}
														<input class="form-control" value="{{ constant.default_value }}" type="text">
													{% else %}
														<input class="form-control" type="text">
													{% endif %}
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
												</div>
											</div>
											{% if constant.calculate != "" %}
												<div class="col-md-1"><i class="fa fa-question-circle-o"  title="备注："  data-container="body" data-toggle="popover" data-placement="right" data-content="{{ constant.calculate }}"></i></div>
											{% endif %}
										</div>
									</div>
									<br>
									{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
						<!-- 参考信息 -->
						<div class="col-md-12">
							<!-- INPUT GROUPS -->
							<div class="panel  margin-right30">
								<div class="first-title"><i class="fa fa-file" aria-hidden="true"></i><span class="margin-left15">参考信息</span></div>
								<div class="panel-body">
									<span class="second-title">国内生物质发电项目现行烟气排放标准：</span><br><br>
									<span class="flow-text">颗粒物的排放浓度＜30mg/Nm3。</span><br><br>
									<span class="second-title">除灰渣系统的工艺原则：灰渣分除、干湿分排方案。</span><br><br>
									<span class="flow-text">1、除灰系统：省煤器和旋风除尘器＋布袋除尘器干灰采用正压浓相气力输送方式清除；</span><br>
									<span class="flow-text">2、除渣系统：锅炉底渣采用干式机械除渣方式清除。</span>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<!-- INPUT GROUPS -->
							<div class="panel margin-right30">
								<div class="first-title"><i class="fa fa-floppy-o" aria-hidden="true"></i><span class="margin-left15">保存页面信息</span></div>
								<div class="row text-center">
									<button type="button" id="submitData" class="btn btn-success btn-lg"><i class="fa fa-check-circle"></i>保存</button>
									<button type="button" class="btn btn-danger  btn-lg"><i class="fa fa-trash-o"></i>清空</button>
								</div>
								<br> <br>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END MAIN CONTENT -->
	</div>
	<!-- END MAIN -->
	{% endblock %} {% endblock %}