{% extends "base.html" %}
<!doctype html> {% block content %} {% block page_content %}
<script src="{{ url_for('static', filename='js/coalCHP/questionnaire.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/coalCHP/questionnaire.css') }}">
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content width88">
		<div class="container-fluid">
			<div class="page-title">燃煤热电联产-需求调查表</div>
			<div class="row">

				<div class="col-md-12">

					<div class="panel">
						<div class="page-title">燃煤发电需求调查表</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="row col-md-6">
					<!-- 煤炭基本元素 -->
					<div class="col-md-12">
						<!-- INPUT GROUPS -->
						<div class="panel">
							<div class="first-title"><i class="fa fa-fire" aria-hidden="true"></i><span class="margin-left15">燃料情况</span></div>
							<div class="second-title"> 煤质分析</div>
							<div class="row">
								<div class="panel-body">
									<div class="col-md-12">
										<div class="col-md-3">
											选择燃料煤种：
										</div>
										<div class="col-md-4">
											<div class="input-group">
												<span class="input-group-addon show-primary">设计</span>
												<select class="form-control" id="coalDesign">
														{% for sort in coalsort %} 
														<option value="{{ sort.id }}">{{ sort.name }}</option>
														{% endfor %}
														<option value="others">其他</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="input-group">
												<span class="input-group-addon show-success">校核</span>
												<select class="form-control" id="coalCheck">
														{% for sort in coalsort %} 
														<option value="{{ sort.id }}">{{ sort.name }}</option>
														{% endfor %}
														<option value="others">其他</option>
												</select>
											</div>
										</div>
										<div class="col-md-1"><i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
									</div>
								</div>
							</div>
							<div>
								<div class="second-title"> 燃料收到基的元素分析及工业分析</div>


								{% for constant in constants %} 
								{% if constant.column in ['s_carbon', 's_hydrogen', 's_oxygen', 's_nitrogen', 's_sulfur', 's_water', 's_grey', 's_daf', 's_grindability', 's_low'] %}
								<div class="row">
									<div class="panel-body">
										<div class="col-md-12">
											<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
											<div class="col-md-4">
												<div class="input-group">
													<span class="input-group-addon show-primary">设计</span>
													<input class="form-control" type="text" id="{{ constant.column }}_design">
													<span class="input-group-addon show-primary">{{ constant.unit }}</span>
												</div>

											</div>
											<div class="col-md-4">
												<div class="input-group">
													<span class="input-group-addon show-success">校核</span>
													<input class="form-control" type="text" id="{{ constant.column }}_check">
													<span class="input-group-addon show-primary">{{ constant.unit }}</span>
												</div>
											</div>
											<div class="col-md-1"><i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
										</div>
									</div>
								</div>
								{% endif %}
								{% endfor %}
								

							</div>

						</div>
					</div>

					<!-- 其它情况 -->
					<div class="col-md-12">
						<!-- INPUT GROUPS -->
						<div class="panel ">
							<div class="first-title"><i class="fa fa-paper-plane-o" aria-hidden="true"></i><span class="margin-left15">其它情况</span></div>
							<div class="second-title"> 项目选址情况</div>
							<div class="panel-body">
									{% for constant in constants %} 
									{% if constant.column in ['os_planning_area', 'os_planned_expansion_capacity', 'os_local_water_condition'] %}
								<div class="row">
									<div class="col-md-12">
									<div class="col-md-3">{{ constant.name }}</div>
									<div class="col-md-8">
										<div class="input-group">
											<input class="form-control" type="text">
											<span class="input-group-addon show-primary">{{ constant.unit }}</span>
										</div>

									</div>
									<div class="col-md-1">
										<i class="fa fa-question-circle-o" aria-hidden="true"></i>
									</div>
								</div>
								</div>
								<br>
								{% endif %}
								{% endfor %}
							</div>
							<div class="second-title"> 电力系统</div>

							<div class="panel-body">
									{% for constant in constants %} 
									{% if constant.column in ['oe_electrical_load_demand', 'oe_higher_voltage_level', 'oe_plant_distance_higher_change', 'oe_is_internet_access', 'oe_is_isolated_network'] %}
								<div class="row">
										<div class="col-md-12">
									<div class="col-md-3">{{ constant.name }}</div>
									<div class="col-md-8">
										<div class="input-group">
											<input class="form-control" type="text">
											<span class="input-group-addon show-primary">{{ constant.unit }}</span>
										</div>
									</div>
									<div class="col-md-1">
										<i class="fa fa-question-circle-o" aria-hidden="true"></i>
									</div>
								</div>
								</div>
								<br>
								{% endif %}
								{% endfor %}
							</div>

							<div class="second-title"> 当地环保要求</div>
							<div class="panel-body">
									{% for constant in constants %} 
									{% if constant.column in ['op_flue_gas_sox_limits', 'op_flue_gas_nox_limits', 'op_flue_gas_dust_limits'] %}
								<div class="row">
										<div class="col-md-12">
									<div class="col-md-3">{{ constant.name }}</div>
									<div class="col-md-8">
										<div class="input-group">
											<input class="form-control" type="text">
											<span class="input-group-addon show-primary">{{ constant.unit }}</span>
										</div>

									</div>
									<div class="col-md-1">
										<i class="fa fa-question-circle-o" aria-hidden="true"></i>
									</div>
								</div>
								</div>
								<br>
								{% endif %}
								{% endfor %}
							</div>

							<div class="second-title"> 脱硫脱硝</div>
							<div class="panel-body">
									{% for constant in constants %} 
									{% if constant.column in ['od_use_denitration_form', 'od_use_desulfurization_form', 'od_limestone_supply', 'od_urea_or_ammonia_water_supply'] %}
								<div class="row">
										<div class="col-md-12">
									<div class="col-md-3">{{ constant.name }}</div>
									<div class="col-md-8">
										<div class="input-group">
											<input class="form-control" type="text">
											<span class="input-group-addon show-primary">{{ constant.unit }}</span>
										</div>

									</div>
									<div class="col-md-1">
										<i class="fa fa-question-circle-o" aria-hidden="true"></i>
									</div>
								</div>
								</div>
								<br>
								{% endif %}
								{% endfor %}
							</div>

						</div>

					</div>

				</div>

				<div class="col-md-6">

					<div class="row">
						<!-- 公司信息 -->
						<div class="col-md-12">
							<div class="panel margin-right30">
								<div class="first-title"><i class="fa fa-building" aria-hidden="true"></i><span class="margin-left15">单位信息</span></div>
								<div class="panel-body">
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon show-primary width-size" style="">单位名称</span>
											<input class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon show-primary width-size">   设计单位   </span>
											<input class="form-control" type="text">
										</div>
									</div>
									<div class="col-md-12 margin-top-20">
										<div class="input-group">
											<span class="input-group-addon show-primary width-size1">項目所在地</span>
											<input class="form-control" type="text">
										</div>

									</div>
									<div class="col-md-12 margin-top-20">
										<div class="input-group">
											<span class="input-group-addon show-primary">項目单位性质</span>
											<input class="form-control" type="text">
										</div>

									</div>

								</div>

							</div>

						</div>

						<!-- 当地气象地址条件8 -->
						<div class="col-md-12">
							<!-- INPUT GROUPS -->
							<div class="panel margin-right30">
								<div class="first-title"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="margin-left15">当地气象及地址条件</span></div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-3">当地平均海拔(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">当地平均海拔(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">当地平均海拔(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">当地平均海拔(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">当地平均海拔(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">当地平均海拔(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">当地平均海拔(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">当地平均海拔(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- 热负荷需求情况 -->
						<div class="col-md-12">
							<!-- INPUT GROUPS -->
							<div class="panel margin-right30">
								<div class="first-title"><i class="fa fa-download" aria-hidden="true"></i><span class="margin-left15">热负荷需求情况</span></div>
								<div class="second-title"> 工业热负荷</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-3">蒸汽压力等级(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">蒸汽压力等级(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">蒸汽压力等级(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">蒸汽压力等级(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">蒸汽压力等级(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">蒸汽压力等级(A)</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">蒸汽压力等级</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>

										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>

								</div>
								<div class="second-title"> 采暖热负荷</div>

								<div class="panel-body">
									<div class="row">
										<div class="col-md-3">采暖场合类型</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>
										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">全年采暖天数</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>
										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">近期采暖面积</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>
										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-3">远期采暖面积</div>
										<div class="col-md-8">
											<div class="input-group">
												<input class="form-control" type="text">
												<span class="input-group-addon show-primary">%</span>
											</div>
										</div>
										<div class="col-md-1">
											<i class="fa fa-question-circle-o" aria-hidden="true"></i>
										</div>
									</div>
								</div>

							</div>

						</div>

						<div class="col-md-12">
							<!-- INPUT GROUPS -->
							<div class="panel margin-right30">
								<div class="first-title"><i class="fa fa-floppy-o" aria-hidden="true"></i><span class="margin-left15">保存调查表信息</span></div>
								<div class="row text-center">
									<br><br>
									<button type="button" class="btn btn-success"><i class="fa fa-check-circle"></i> Success</button>

									<button type="button" class="btn btn-warning" disabled="disabled"><i class="fa fa-spinner fa-spin"></i> Loading...</button>
								</div>
								<br> <br>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END MAIN CONTENT -->
	</div>
	<!-- END MAIN -->
	{% endblock %} {% endblock %}