{% extends "base.html" %}
<!doctype html> {% block content %} {% block page_content %}
<script src="{{ url_for('static', filename='js/GPG/GPG_EconomicIndicators.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionnaire.css') }}">
<style>
	.panel {
		background-color: rgba(255, 255, 255, 0.3);
		margin: 10px 0px 10px 15px;
	}
	.cd-breadcrumb.triangle li.ableClick > * {
		color: #ffffff;
		background-color: #337ab7!important;
		border-color: #337ab7 !important;
	}
</style>
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			<!-- <div class="page-title">煤气发电-主要技术经济指标</div> -->
			</br>
			</br>
			</br>
			<div class="row" style="margin-top: -23px;margin-bottom: -28px;">
				<div class="col-md-12 breadcrumb-fix show">
					<div id="breadcrumbDiv" class="col-md-10 breadcrumb-div">
						<ol class="cd-breadcrumb triangle" >
							<li><a class="pre" href="#" data-page="10">上一页</a></li>
							<li><a id="gpg1" onclick="return false;" href="{{ url_for('gpg_view.GPG_Questionnaire',id=session.planId) }}">煤气发电需求调查表</a></li>
							<li><a id="gpg2" onclick="return false;" href="{{ url_for('gpg_view.GPG_BoilerOfPTS') }}">锅炉计算</a></li>
							<li><a id="gpg3" onclick="return false;" href="{{ url_for('gpg_view.GPG_TurbineOfPTS') }}">汽轮机计算</a></li>
							<li><a id="gpg4" onclick="return false;" href="{{ url_for('gpg_view.GPG_BoilerAuxiliaries') }}">锅炉辅机系统</a></li>
							<li><a id="gpg5" onclick="return false;" href="{{ url_for('gpg_view.GPG_SmokeAirCalculate') }}">烟、风量计算</a></li> 
							<li><a id="gpg6" onclick="return false;" href="{{ url_for('gpg_view.GPG_GasAirSystem') }}" >烟风系统</a></li>      
							<!--<li><a href="{{ url_for('gpg_view.GPG_SmokeResistance') }}">烟阻力</a></li>
							<li><a href="{{ url_for('gpg_view.GPG_WindResistance') }}">风阻力</a></li>-->
							<li><a id="gpg7" onclick="return false;" href="{{ url_for('gpg_view.GPG_SteamWaterPipe') }}">汽水管道</a></li>
							<li><a id="gpg8" onclick="return false;" href="{{ url_for('gpg_view.GPG_CirculatingWaterSystem') }}">循环水系统</a></li>
							<li><a id="gpg9" onclick="return false;" href="{{ url_for('gpg_view.GPG_TurbineAuxiliarySystem') }}">汽机辅机系统</a></li>
							<li class="ableClick"><a id="gpg10" href="#">主要技术经济指标</a></li>
							<li><a id="gpg11" onclick="return false;" href="{{ url_for('gpg_view.GPG_Image') }}">图纸一览</a></li>
							<li><a id="gpg12" onclick="return false;" href="{{ url_for('gpg_view.GPG_EquipmentList') }}">设备清单</a></li>
							<li class="current"><a class="next" href="#">下一页</a></li>
						</ol>
					</div>


					<div class="col-md-2 breadcrumb-submit">
						<button type="button" id="submitData" class="btn btn-success btn-sm">
							<i class="fa fa-check-circle"></i> 保 存 </button>
					</div>

					<!-- <div class="col-md-1 breadcrumb-submit">
						<button type="button" id="selectTemplate" class="btn btn-success btn-sm">
							选择模板
						</button>
					</div> -->
					
					<!-- <div class="col-md-1 breadcrumb-submit">
						<button type="button" id="createDrawings" class="btn btn-primary btn-sm">
							生成图纸
						</button>
					</div> -->
				</div>
				</br>
				</br>
				</br>
				</br>
			</div>
			<form id="GPG_Economic">
				<div class="row full-width-style">
					<div class="st-content">

						<div class="st-content-inner">
							<div class="col-md-12">
								<div class="col-md-3" style="position:fixed;height:100%">
									<nav class="st-menu">
										<h2 class="icon icon-lab">主要技术经济指标</h2>
										<ul>
											<li>
												<a class="left-select left-hover" href="#" id="e-1">凝结水回水参数</a>
											</li>
											<li>
												<a class="left-select" href="#" id="e-2">主要技术经济指标</a>
											</li>
											
										</ul>
									</nav>

								</div>
								<div class="col-md-9" style="left:19%;">
									<div class="module-content">
										<div class="main clearfix">
											<!-- 主要技术经济指标 -->
											<div class="col-md-12 e-2 hide">
												<!-- INPUT GROUPS -->
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-calculator" aria-hidden="true"></i>
														<span class="margin-left15">主要技术经济指标（根据《中小型热电联产工程设计手册》编制）</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['smoke_heat_consumption_rate', 'heat_consumption_rate', 'smoke_steam_consumption_rate',
														'steam_consumption_rate', 'annual_useage_hours', 'annual_heat_hours', 'annual_heat_supply', 'annual_power_generation',
														'plant_electricity_consumption', 'annual_power_supply', 'boiler_efficiency', 'pipeline_efficiency', 'smoke_power_coal_consumption',
														'power_coal_consumption', 'smoke_supply_coal_consumption', 'supply_coal_consumption', 'annual_average_thermoelectric_ratio',
														'smoke_heat_efficiency', 'heat_efficiency'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" readonly="true" value="{{ constant.default_value }}" type="text" name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right"
																	 data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>

											<!-- 凝结水回水 -->
											
											<div class="col-md-12 e-1">
												<div class="panel">
													<div class="first-title">
														<i class="fa fa-tint" aria-hidden="true"></i>
														<span class="margin-left15">凝结水回水参数</span>
													</div>
													<div class="panel-body">
														{% for constant in constants %} {% if constant.name_eng in ['condensate_backwater_pressure', 'condensate_backwater_temperature',
														'condensate_backwater_enthalpy'] %}
														<div class="row">
															<div class="col-md-12">
																<div class="col-md-3">{{ constant.name }}({{ constant.symbol }})</div>
																<div class="col-md-8">
																	<div class="input-group">
																		{% if constant.disable == "T" %}
																		<input class="form-control" readonly="true" value="{{ constant.default_value }}" type="text" name="{{ constant.name_eng }}"> {% else %}
																		<input class="form-control" value="{{ constant.default_value }}" type="text" name="{{ constant.name_eng }}"> {% endif %}
																		<span class="input-group-addon show-unit">{{ constant.unit }}</span>
																	</div>
																</div>
																{% if constant.calculate != "" %}
																<div class="col-md-1">
																	<i class="fa fa-question-circle-o" title="备注：" data-container="body" data-toggle="popover" data-placement="right"
																	 data-content="{{ constant.calculate }}"></i>
																</div>
																{% endif %}
															</div>
														</div>
														<br> {% endif %} {% endfor %}
													</div>
												</div>
											</div>
											

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</form>
			<!-- END MAIN CONTENT -->
			</div>

			<!-- END MAIN -->
			{% endblock %} {% endblock %}