{% extends "base.html" %}
<!doctype html> {% block content %} {% block page_content %}
<script src="{{ url_for('static', filename='js/coalCHP/questionnaire.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/coalCHP/questionnaire.css') }}">
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content width88">
		<div class="container-fluid">
			<div class="page-title">燃煤热电联产-输煤系统</div>
			<div class="row">

				<div class="col-md-12">

					<div class="panel">
						<div class="page-title">输煤系统</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="row col-md-7">
					<div class="col-md-12">
						<!-- INPUT GROUPS -->
						<div class="panel">
							<div>
								<div class="second-title"> 锅炉耗煤量 
									<i class="fa fa-question-circle-o"  title="备注："  
										data-container="body" data-toggle="popover" data-placement="right" 
										data-content="除铁器设置在采光间">
									</i>
								</div>

								{% for constant in constants %} 
								{% if constant.name_eng in ['boiler_rated_coal_capacity', 'boiler_daily_utilization_hours', 
								'coal_daily_consumption', 'boiler_annual_utilization_hours', 'coal_annual_consumption', 
								'daily_coal_unbalanced_coefficient', 'daily_rail_coal_amount', 'daily_vehicle_coal_amount'] %}
								<div class="row">
									<div class="panel-body">
										<div class="col-md-12">
											<div class="col-md-4">{{ constant.name }}({{ constant.symbol }})
												{% if constant.calculate != "" %}
												<i class="lnr lnr-pencil"  title="计算公式："  
												data-container="body" data-toggle="popover" data-placement="right" 
												data-content="{{ constant.calculate }}">
												</i>
												{% endif %}
												
											</div>
											<div class="col-md-4">
												<div class="input-group">
													<span class="input-group-addon show-primary">设计</span>
													<input class="form-control" type="text" id="{{ constant.name_eng }}_design" 
													{% if constant.name_eng in ['boiler_rated_coal_capacity', 'coal_daily_consumption',
													'coal_annual_consumption', 'daily_rail_coal_amount', 'daily_vehicle_coal_amount'] %}
													readonly="true"
													{% endif %}
													/>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
													{% if constant.remark != "" %}
													<i class="fa fa-calculator"  title="参考值："  
													data-container="body" data-toggle="popover" data-placement="right" 
													data-content="{{ constant.remark }}">
													</i>
													{% endif %}
												</div>

											</div>
											<div class="col-md-4">
												<div class="input-group">
													<span class="input-group-addon show-success">校核</span>
													<input class="form-control" type="text" id="{{ constant.name_eng }}_check" 
													{% if constant.name_eng in ['boiler_rated_coal_capacity', 'coal_daily_consumption',
													'coal_annual_consumption', 'daily_rail_coal_amount', 'daily_vehicle_coal_amount'] %}
													readonly="true"
													{% endif %}
													/>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
													{% if constant.remark != "" %}
													<i class="fa fa-calculator"  title="参考值："  
													data-container="body" data-toggle="popover" data-placement="right" 
													data-content="{{ constant.remark }}">
													</i>
													{% endif %}
												</div>
											</div>
											<!--{% if constant.calculate != "" %}
											<div class="col-md-1"><i class="fa fa-question-circle-o"  title="计算公式："  
												data-container="body" data-toggle="popover" data-placement="right" 
												data-content="{{ constant.calculate }}"></i></div>
											{% endif %}-->
										</div>
									</div>
								</div>
								{% endif %}
								{% endfor %}						
							</div>

							<div>
								<div class="second-title"> 煤场（干煤棚）面积</div>

								{% for constant in constants %} 
								{% if constant.name_eng in ['boiler_perhour_coal_max_capacity', 'boiler_daily_working_hours', 
								'coal_store_days', 'coalyard_store_amount', 'coal_channel_occupy_coefficient', 
								'coal_shape_coefficient', 'coal_height', 'coal_bulk_density',
								'coalyard_area', 'height', 'width'] %}
								<div class="row">
									<div class="panel-body">
										<div class="col-md-12">
											<div class="col-md-4">{{ constant.name }}({{ constant.symbol }})
												{% if constant.calculate != "" %}
												<i class="lnr lnr-pencil"  title="计算公式："  
												data-container="body" data-toggle="popover" data-placement="right" 
												data-content="{{ constant.calculate }}">
												</i>
												{% endif %}
											</div>
											<div class="col-md-4">
												<div class="input-group">
													<span class="input-group-addon show-primary">设计</span>
													<input class="form-control" type="text" id="{{ constant.name_eng }}_design" 
													{% if constant.name_eng in ['boiler_perhour_coal_max_capacity', 'coalyard_store_amount',
													'coalyard_area', 'width'] %}
													readonly="true"
													{% endif %}
													/>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
													{% if constant.remark != "" %}
													<i class="fa fa-calculator"  title="参考值："  
													data-container="body" data-toggle="popover" data-placement="right" 
													data-content="{{ constant.remark }}">
													</i>
													{% endif %}
												</div>

											</div>
											<div class="col-md-4">
												<div class="input-group">
													<span class="input-group-addon show-success">校核</span>
													<input class="form-control" type="text" id="{{ constant.name_eng }}_check" 
													{% if constant.name_eng in ['boiler_perhour_coal_max_capacity', 'coalyard_store_amount',
													'coalyard_area', 'width'] %}
													readonly="true"
													{% endif %}
													/>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
													{% if constant.remark != "" %}
													<i class="fa fa-calculator"  title="参考值："  
													data-container="body" data-toggle="popover" data-placement="right" 
													data-content="{{ constant.remark }}">
													</i>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endif %}
								{% endfor %}								
							</div>

							<div>
								<div class="second-title"> 炉前煤仓有效容积</div>

								{% for constant in constants %} 
								{% if constant.name_eng in ['effective_cubage_calculated', 'coal_bunker_counts', 
								'effective_cubage_selected', 'backstep_consumption_hours'] %}
								<div class="row">
									<div class="panel-body">
										<div class="col-md-12">
											<div class="col-md-4">{{ constant.name }}({{ constant.symbol }})
												{% if constant.calculate != "" %}
												<i class="lnr lnr-pencil"  title="计算公式："  
												data-container="body" data-toggle="popover" data-placement="right" 
												data-content="{{ constant.calculate }}">
												</i>
												{% endif %}
											</div>
											<div class="col-md-4">
												<div class="input-group">
													<span class="input-group-addon show-primary">设计</span>
													<input class="form-control" type="text" id="{{ constant.name_eng }}_design" 
													{% if constant.name_eng in ['effective_cubage_calculated', 'backstep_consumption_hours'] %}
													readonly="true"
													{% endif %}
													/>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
													{% if constant.remark != "" %}
													<i class="fa fa-calculator"  title="参考值："  
													data-container="body" data-toggle="popover" data-placement="right" 
													data-content="{{ constant.remark }}">
													</i>
													{% endif %}
												</div>

											</div>
											<div class="col-md-4">
												<div class="input-group">
													<span class="input-group-addon show-success">校核</span>
													<input class="form-control" type="text" id="{{ constant.name_eng }}_check" 
													{% if constant.name_eng in ['effective_cubage_calculated', 'backstep_consumption_hours'] %}
													readonly="true"
													{% endif %}
													/>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
													{% if constant.remark != "" %}
													<i class="fa fa-calculator"  title="参考值："  
													data-container="body" data-toggle="popover" data-placement="right" 
													data-content="{{ constant.remark }}">
													</i>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endif %}
								{% endfor %}								
							</div>

							<div>
								<div class="second-title"> 燃煤运输量</div>

								{% for constant in constants %} 
								{% if constant.name_eng in ['boiler_rated_coal_capacity', 'transport_unbalanced_coefficient', 
								'transportsystem_effective_working_hours', 'transportsystem_amount', 'vehicle_capacity_tonnage',
								'daily_working_hours', 'daily_received_coal_amount', 'vehicle_daily_incoming_times', 
								'vehicle_perhour_incoming_times'] %}
								<div class="row">
									<div class="panel-body">
										<div class="col-md-12">
											<div class="col-md-4">{{ constant.name }}({{ constant.symbol }})
												{% if constant.calculate != "" %}
												<i class="lnr lnr-pencil"  title="计算公式："  
												data-container="body" data-toggle="popover" data-placement="right" 
												data-content="{{ constant.calculate }}">
												</i>
												{% endif %}
											</div>
											<div class="col-md-4">
												<div class="input-group">
													<span class="input-group-addon show-primary">设计</span>
													<input class="form-control" type="text" id="{{ constant.name_eng }}_design" 
													{% if constant.name_eng in ['boiler_rated_coal_capacity', 'transportsystem_amount',
													'daily_received_coal_amount', 'vehicle_daily_incoming_times',
													'vehicle_perhour_incoming_times'] %}
													readonly="true"
													{% endif %}
													/>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
													{% if constant.remark != "" %}
													<i class="fa fa-calculator"  title="参考值："  
													data-container="body" data-toggle="popover" data-placement="right" 
													data-content="{{ constant.remark }}">
													</i>
													{% endif %}
												</div>

											</div>
											<div class="col-md-4">
												<div class="input-group">
													<span class="input-group-addon show-success">校核</span>
													<input class="form-control" type="text" id="{{ constant.name_eng }}_check" 
													{% if constant.name_eng in ['boiler_rated_coal_capacity', 'transportsystem_amount',
													'daily_received_coal_amount', 'vehicle_daily_incoming_times',
													'vehicle_perhour_incoming_times'] %}
													readonly="true"
													{% endif %}
													/>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
													{% if constant.remark != "" %}
													<i class="fa fa-calculator"  title="参考值："  
													data-container="body" data-toggle="popover" data-placement="right" 
													data-content="{{ constant.remark }}">
													</i>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endif %}
								{% endfor %}								
							</div>

							<div>
								<div class="second-title"> 输煤系统出力
									<i class="fa fa-question-circle-o"  title="备注："  
										data-container="body" data-toggle="popover" data-placement="right" data-html="true"
										data-content="1.总耗煤量＜60t/h，采用单路，三班，每路出力≥200%的总耗煤量，两班≥300%<br/>
										2.总耗煤量≥60t/h，采用双路，三班每路出力≥150%的总耗煤量，两班≥200%<br/>
										3.三班＜16h；两班＜11h">
									</i>
								</div>

								{% for constant in constants %} 
								{% if constant.name_eng in ['boiler_rated_coal_capacity', 'mutil_boiler_rated_coal_capacity', 
								'mutil_boiler_rated_coal_amount', 'transportsystem_output', 'transportsystem_working_hours',
								'shift_working_hours', 'belt_width', 'section_coefficient', 'belt_speed', 'material_bulk_density', 
								'belt_max_transport_capacity'] %}
								<div class="row">
									<div class="panel-body">
										<div class="col-md-12">
											<div class="col-md-4">{{ constant.name }}({{ constant.symbol }})
												{% if constant.calculate != "" %}
												<i class="lnr lnr-pencil"  title="计算公式："  
												data-container="body" data-toggle="popover" data-placement="right" 
												data-content="{{ constant.calculate }}">
												</i>
												{% endif %}
											</div>
											<div class="col-md-8">
												<div class="input-group">
													<span class="input-group-addon show-success">结果</span>
													<input class="form-control" type="text" id="{{ constant.name_eng }}_check" 
													{% if constant.name_eng in ['boiler_rated_coal_capacity', 'mutil_boiler_rated_coal_amount',
													'transportsystem_working_hours', 'shift_working_hours', 'belt_max_transport_capacity'] %}
													readonly="true"
													{% endif %}
													/>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
													{% if constant.remark != "" %}
													<i class="fa fa-calculator"  title="参考值："  
													data-container="body" data-toggle="popover" data-placement="right" 
													data-content="{{ constant.remark }}">
													</i>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endif %}
								{% endfor %}								
							</div>

							<div>
								<div class="second-title"> 炉前给煤机
									<i class="fa fa-question-circle-o"  title="备注："  
										data-container="body" data-toggle="popover" data-placement="right" 
										data-content="全封闭带电子称重皮带式给煤机">
									</i>
								</div>

								{% for constant in constants %} 
								{% if constant.name_eng in ['boiler_rated_coal_capacity', 'equipment_sets', 
								'surplus', 'single_coal_feeder_output'] %}
								<div class="row">
									<div class="panel-body">
										<div class="col-md-12">
											<div class="col-md-4">{{ constant.name }}({{ constant.symbol }})
												{% if constant.calculate != "" %}
												<i class="lnr lnr-pencil"  title="计算公式："  
												data-container="body" data-toggle="popover" data-placement="right" 
												data-content="{{ constant.calculate }}">
												</i>
												{% endif %}
											</div>

											<div class="col-md-8">
												<div class="input-group">
													<span class="input-group-addon show-success">结果</span>
													<input class="form-control" type="text" id="{{ constant.name_eng }}_check" 
													{% if constant.name_eng in ['boiler_rated_coal_capacity', 'single_coal_feeder_output'] %}
													readonly="true"
													{% endif %}
													/>
													<span class="input-group-addon show-unit">{{ constant.unit }}</span>
													{% if constant.remark != "" %}
													<i class="fa fa-calculator"  title="参考值："  
													data-container="body" data-toggle="popover" data-placement="right" 
													data-content="{{ constant.remark }}">
													</i>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endif %}
								{% endfor %}								
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-5">

					<div class="row">
						<div class="col-md-12">
							<div class="panel margin-right30">
								<div class="first-title"><i class="fa fa-building" aria-hidden="true"></i><span class="margin-left15">参考信息</span></div>
								<div class="panel-body">
									<div class="second-title"> 表1-13</div>
									<div class="col-md-12 margin-top-20">
										<img class="img-responsive center-block" src="{{ url_for('static', filename='img/CoalCHP/coalHandingSystem/1-13.png') }}" /> 
										<img class="img-responsive left-block" src="{{ url_for('static', filename='img/CoalCHP/coalHandingSystem/ck2.png') }}" />
									</div>
								</div>

								<div class="panel-body">
									<div class="second-title"> 表10-9</div>
									<div class="col-md-12 margin-top-20">
										<img class="img-responsive center-block" src="{{ url_for('static', filename='img/CoalCHP/coalHandingSystem/10-9.png') }}" /> 
									</div>
								</div>

								<div class="panel-body">
									<div class="second-title"> 表10.2.1</div>
									<div class="col-md-12 margin-top-20">
										<img class="img-responsive center-block" src="{{ url_for('static', filename='img/CoalCHP/coalHandingSystem/10.2.1.png') }}" /> 
									</div>
								</div>

								<div class="panel-body">
									<div class="second-title"> 表10.2.4</div>
									<div class="col-md-12 margin-top-20">
										<img class="img-responsive center-block" src="{{ url_for('static', filename='img/CoalCHP/coalHandingSystem/10.2.4.png') }}" /> 
									</div>
								</div>

								<div class="panel-body">
									<div class="second-title"> 表12.0.2</div>
									<div class="col-md-12 margin-top-20">
										<img class="img-responsive center-block" src="{{ url_for('static', filename='img/CoalCHP/coalHandingSystem/12.0.2.png') }}" /> 
									</div>
								</div>

								<div class="panel-body">
									<div class="second-title"> 表12.0.2续</div>
									<div class="col-md-12 margin-top-20">
										<img class="img-responsive center-block" src="{{ url_for('static', filename='img/CoalCHP/coalHandingSystem/12.0.2-2.png') }}" /> 
									</div>
								</div>

							</div>

						</div>


						<div class="col-md-12">
							<!-- INPUT GROUPS -->
							<div class="panel margin-right30">
								<div class="first-title"><i class="fa fa-floppy-o" aria-hidden="true"></i><span class="margin-left15">保存输煤系统信息</span></div>
								<div class="row text-center">
									<br><br>
									<button type="button" class="btn btn-success"><i class="fa fa-check-circle"></i> Success</button>

									<button type="button" class="btn btn-warning" disabled="disabled"><i class="fa fa-spinner fa-spin"></i> Loading...</button>
								</div>
								<br> <br>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END MAIN CONTENT -->
	</div>
	<!-- END MAIN -->
	{% endblock %} {% endblock %}