{% extends "base.html" %}
<!doctype html> {% block content %} {% block page_content %}
<script src="{{ url_for('static', filename='js/ccpp/ccppEquipment.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/questionnaire.css') }}">
<!-- MAIN -->
<style>
	.panel {
		background-color: rgba(255, 255, 255, 0.3);
		margin: 10px 0px 10px 15px;
	}
	.cd-breadcrumb.triangle li.ableClick > * {
    color: #ffffff;
    background-color: #337ab7!important;
    border-color: #337ab7 !important;
	}
	.top-bread {
    margin-top: -91px;
}

		/* 下面三行是css部分 */

	.float-right {
		width: 21px;
		height: 360px;
		background: #96c03d;
		position: absolute;
		left: 97%;
		top: 220px;
		/* margin-left: 500px; */
		z-index: 800;
		overflow: hidden;
	}

	.float-right a {
		width: 96%;
		margin: 0 2%;
		height: 24px;
		line-height: 24px;
		text-align: center;
		display: block;
		border-bottom: 1px solid #fff;
		font-size: 12px;
		color: #fff;
		text-decoration: none;
	}

	.float-right a:hover {
		background: #87c00c;
		transition: all 0.3s linear;
		-webkit-transition: all 0.3s linear;
		-mos-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
	}
</style>
<script>
	var lanren = {
		navFast: function () {
			var defaultTop = (window.screen.height - $('.float-right').height()) / 2 - 300; //默认顶部保持上下居中，再往上去100像素
			$(window).scroll(function () {
				var offsetTop = defaultTop + $(window).scrollTop() + 'px';
				$('.float-right').animate({ top: offsetTop },
					{
						duration: 600,	//滑动速度
						queue: false    //此动画将不进入动画队列
					});
			});
		}
	};
	lanren.navFast();
</script>
<form id='imgOutput'></form>
<div id="title0" class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			<!-- <div class="page-title">CCPP-汽轮机</div> -->
			</br>
			</br>
			</br>
			<div class="row" style="margin-top: -23px;margin-bottom: -28px;">
				<div class="col-md-12 breadcrumb-fix show">
					<div id="breadcrumbDiv" class="col-md-10 breadcrumb-div">
						<ol class="cd-breadcrumb triangle">
								<li class="current">
									<a class="pre" href="#" data-page="15">上一页</a>
								</li>
							<li class="hide">
								<a id="ccpp1" href="{{ url_for('ccppviews.toCcppQuestionnaire') }}">需求调查表</a>
							</li>
							<li class="hide">
								<a id="ccpp2" href="{{ url_for('ccppviews.toCcppParaResearch') }}">余热锅炉参数设置</a>
							</li>
							<li class="hide">
								<a id="ccpp3" href="{{ url_for('ccppviews.toCcppTurbineParaResearch') }}">汽轮机参数设置</a>
							</li>
							<li class="hide">
								<a id="ccpp4" href="{{ url_for('ccppviews.toSelectGasTurbine') }}">方案列表</a>
							</li>
							<li class="hide">
								<a id="ccpp5" href="{{ url_for('ccppviews.toCcppCalculate') }}">余热锅炉系统</a>
							</li>
							<li class="hide">
								<a id="ccpp6" href="{{ url_for('ccppviews.toCcppTurbine') }}">汽轮机系统</a>
							</li>
							<li class="hide">
								<a id="ccpp7" href="{{ url_for('ccppviews.biomassTurbineAuxiliary') }}">汽机辅机</a>
							</li>
							
							<li class="hide">
								<a id="ccpp8" href="{{ url_for('ccppviews.toCcppCirculatingWater') }}">循环水系统</a>
							</li>
							<li class="hide">
								<a id="ccpp9" href="{{ url_for('ccppviews.biomassWaterTreatment') }}">化学水系统</a>
							</li>
							<li>
								<a id="ccpp10" href="{{ url_for('ccppviews.allformschemes') }}">方案一览</a>
							</li>
							<li>
								<a id="ccpp11" href="{{ url_for('ccppviews.toCcppChimneyCalculate') }}">烟囱</a>
							</li>


							<li>
								<a id="ccpp12" href="{{ url_for('ccppviews.toCcppEconomic') }}">经济性分析</a>
							</li>

							<li>
								<a id="ccpp13" href="{{ url_for('ccppviews.toccppimg') }}">方案图</a>
							</li>
							<li class="ableClick">
								<a id="ccpp14" href="#">设备列表</a>
							</li>
							<li class="current">
									<a class="next" href="#">下一页</a>
								</li>
						</ol>
					</div>
					<div class="col-md-1 breadcrumb-submit" >
						<button id="saveEquipmentList" name="saveEquipmentList" type="button" class="btn show-success" style="margin-left:-30px">
							<i class="fa fa-check-circle"></i> 保存 
						</button>
					</div>
					<div class="col-md-1 breadcrumb-submit">
						<button type="button" id="selectTemplate" class="btn btn-success btn-sm">
							<i class="fa fa-check-circle"></i> 选择模板 </button>
					</div>
				</div>
				</br></br></br></br>				
			</div>
			<form id="ccpp_equipmentListForm">
				<div class="row full-width-style width-little">
					<div class="st-content">
						<div class="st-content-inner">
							<div class="col-md-12">
								<div class="module-content">
									<div class="main clearfix">
										<div class="col-md-12 q-1">
											<div class="panel">
												<div class="first-title">
													<i class="fa fa-fire" aria-hidden="true"></i>
													<span class="margin-left15">设备清单</span>
												</div>
												<div class="panel-body">
													<!-- 设备一览的Div -->																
													<div id="EquipmentListDiv" class="col-md-12">
														<div>																	
															<table id="equipment_list_table" class="table table-striped equipment_list table-bordered">
																<thead>
																	<tr>
																		<th style="width:7%; text-align:center">序号</th>
																		<th style="width:18%; text-align:center">名称</th>
																		<th style="width:30%; text-align:center">型号及规格</th>
																		<th style="width:7%; text-align:center">数量</th>
																		<th style="width:7%; text-align:center">单位</th>
																		<th style="width:17%; text-align:center">备注</th>
																		<th style="width:10%; text-align:center">操作</th>
																	</tr>
																</thead>
																<tbody>
																</tbody>
															</table>
														</div>
													</div>																
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
<!-- <a title="回到顶部" href="#top" class="cd-top">Top</a> -->
<!--代码部分begin-->
<div class="float-right">
	<a href="#title1">1</a>
	<a href="#title2">2</a>
	<a href="#title3">3</a>
	<a href="#title4">4</a>
	<a href="#title5">5</a>
	<a href="#title6">6</a>
	<a href="#title7">7</a>
	<a href="#title8">8</a>
	<a href="#title9">9</a>
	<a href="#title10">10</a>
	<a href="#title11">11</a>
	<a href="#title12">12</a>
	<a href="#title13">13</a>
	<a href="#title14">14</a>
	<a href="#title0">↑</a>
</div>
{% endblock %} {% endblock %}