{% extends "base.html" %}
<!doctype html>
{% block content %}
{% block page_content %}
		<div class="main">
			<!-- MAIN CONTENT -->
		</br></br></br>
			<div class="main-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<!-- BORDERED TABLE -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title text-center" style="font-size: 24px;margin: 20px;font-weight: bold;">用户权限管理列表</h3>
								</div>
								<div class="panel-body">
										{% for message in get_flashed_messages(with_categories=True) %}
										<div class="alert alert-{{ message[0] }}">
											<button type="button" class="close" data-dismiss="alert">&times;</button>
										   {{ message[1] }}
										</div>
										{% endfor %}

										<div class="col-md-12 col-md-offset-9"><a type="button" class="btn btn-info" href="{{ url_for('main.register') }}">添加新用户</a></div>
										<br/><br/><br/>
									<table class="table table-striped manage-user">
										<thead>
											<tr>
												<th>工号</th>
												<th>用户名</th>
												<th>邮箱</th>
												<th>注册时间</th>
												<th>角色</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
												{% for user in users %}
												{% if user.id != 1 %}
											<tr>
												<td>{{user.user_eid}}</td>
												<td>{{user.user_name}}</td>
												<td>{{user.user_email}}</td>
												<td>{{user.reg_dateTime | dateformat("%Y-%m-%d") }}</td>
												<td>
													{% for role in roles %}
													{% if user.role_id==role.id %}
													{{role.name}}
													{% endif %}
													{% endfor %}
												</td>
												<td>
													<a type="button" style="cursor: pointer;font-weight: bold;color: #41B314;" href="{{ url_for('main.edit_user', id=user.id) }}"><i class="fa fa-pencil-square-o" title="修改权限"></i></a>
													<a type="button" style="cursor: pointer;font-weight: bold;color: #d9534f;margin-left: 20px;" href="{{ url_for('main.delete_user', id=user.id) }}"><i class="fa fa-trash-o" title="删除用户"></i></a>
												</td>
											</tr>
											{% endif%}
											{% endfor %}

										</tbody>
									</table>
								</div>
							</div>
							<!-- END BORDERED TABLE -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
	{% endblock %}
	{% endblock %}

